﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="defaultCtn">
    <div class="row">
        <div id="headline" class="col text-center">
            <img id="logo" src="~/images/logoWtv.png"/>
            <h1 id="headlineText">GTA Hardcore Roleplay Server</h1>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h3 class="animated pulse slow infinite">UserInterface</h3>
        </div>
    </div>
</div>