﻿@{
    ViewData["Title"] = "Ui";
    Layout = "~/Views/Shared/_UiLayout.cshtml";
}

<span>
    <img id="sackHud" hidden="true" src="~/images/background/sackHud.png" alt="ErrorDmgHud" />
</span>
<span>
    <img id="dmgHud" hidden="true" class="animated flash slower infinite" src="~/images/background/dmgHud.png" alt="ErrorDmgHud" />
</span>
<span>
    <img id="hitMark" hidden="true" class="animated flash slower infinite" src="~/images/hitMarkers/hitMarkerFive.png" alt="ErrorDmgHud" />
</span>

<div id="progressBarRow" class="row">
    <div class="col text-center">
        <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"><a id="progressTitle">-na-</a></div>
    </div>
</div>

<div class="container" id="voiceCtn">
    <div class="row">
        <div class="col">
            <img id="voiceStatusPic" class="animated fadeIn slower" src="~/images/voice/micError.png" alt="WTV Voice" />
        </div>
    </div>
</div>

<div class="container" id="statCtn">
    <div class="row">
        <div class="col">
            <img id="healthIcon" src="~/images/stats/Health.png" alt="HealthLow" />
        </div>
        <div class="col">
            <img id="armorIcon" src="~/images/stats/Armor.png" alt="ArmorLow" />
        </div>
        <div class="col">
            <img id="hungerIcon" src="~/images/stats/Hunger.png" alt="HungerLow" />
        </div>
        <div class="col">
            <img id="thirstIcon" src="~/images/stats/Thirst.png" alt="ThirstLow" />
        </div>
    </div>
</div>

<div class="container" id="leftMsgCtn">
    <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000" id="leftMsg0">
            <div class="toast-body text-right"><strong><a id="leftMsg0text">default</a></strong></div>
        </div>
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000" id="leftMsg1">
            <div class="toast-body text-right"><strong><a id="leftMsg1text">default</a></strong></div>
        </div>
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000" id="leftMsg2">
            <div class="toast-body text-right"><strong><a id="leftMsg2text">default</a></strong></div>
        </div>
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000" id="leftMsg3">
            <div class="toast-body text-right"><strong><a id="leftMsg3text">default</a></strong></div>
        </div>
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000" id="leftMsg4">
            <div class="toast-body text-right"><strong><a id="leftMsg4text">default</a></strong></div>
        </div>
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000" id="leftMsg5">
            <div class="toast-body text-right"><strong><a id="leftMsg5text">default</a></strong></div>
        </div>
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000" id="leftMsg6">
            <div class="toast-body text-right"><strong><a id="leftMsg6text">default</a></strong></div>
        </div>
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000" id="leftMsg7">
            <div class="toast-body text-right"><strong><a id="leftMsg7text">default</a></strong></div>
        </div>
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000" id="leftMsg8">
            <div class="toast-body text-right"><strong><a id="leftMsg8text">default</a></strong></div>
        </div>
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000" id="leftMsg9">
            <div class="toast-body text-right"><strong><a id="leftMsg9text">default</a></strong></div>
        </div>
    </div>
</div>

<div class="container" id="rightMsgCtn">
    <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000" id="rightMsg0">
            <div class="toast-header justify-content-between align-items-center">
                <span><strong><a id="rightMsg0head">default</a></strong></span>
                <span><img src="~/images/logoTGS2.png" class="rounded mr-2" alt="TGS" style="height: 20px;width: auto;"></span>
            </div>
            <div class="toast-body text-left"><strong><a id="rightMsg0text">default</a></strong></div>
        </div>
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000" id="rightMsg1">
            <div class="toast-header justify-content-between align-items-center">
                <span><strong><a id="rightMsg1head">default</a></strong></span>
                <span><img src="~/images/logoTGS2.png" class="rounded mr-2" alt="TGS" style="height: 20px;width: auto;"></span>
            </div>
            <div class="toast-body text-left"><strong><a id="rightMsg1text">default</a></strong></div>
        </div>
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000" id="rightMsg2">
            <div class="toast-header justify-content-between align-items-center">
                <span><strong><a id="rightMsg2head">default</a></strong></span>
                <span><img src="~/images/logoTGS2.png" class="rounded mr-2" alt="TGS" style="height: 20px;width: auto;"></span>
            </div>
            <div class="toast-body text-left"><strong><a id="rightMsg2text">default</a></strong></div>
        </div>
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000" id="rightMsg3">
            <div class="toast-header justify-content-between align-items-center">
                <span><strong><a id="rightMsg3head">default</a></strong></span>
                <span><img src="~/images/logoTGS2.png" class="rounded mr-2" alt="TGS" style="height: 20px;width: auto;"></span>
            </div>
            <div class="toast-body text-left"><strong><a id="rightMsg3text">default</a></strong></div>
        </div>
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000" id="rightMsg4">
            <div class="toast-header justify-content-between align-items-center">
                <span><strong><a id="rightMsg4head">default</a></strong></span>
                <span><img src="~/images/logoTGS2.png" class="rounded mr-2" alt="TGS" style="height: 20px;width: auto;"></span>
            </div>
            <div class="toast-body text-left"><strong><a id="rightMsg4text">default</a></strong></div>
        </div>
    </div>
</div>

<div class="container animated fadeOut 1s" id="kmDisplay">
    <div class="row">
        <div class="col text-center">
            <a id="kml">na</a>
        </div>
    </div>
</div>