﻿@page "/"
@using RolePlayGameClient.Pages.DefaultPages
@using RolePlayGameClient.Services.Basic
@using RolePlayGameData.Enums
@using Index = RolePlayGameClient.Pages.DefaultPages.Index
@namespace RolePlayGameClient.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject AccessService AccessService

@{
    var result = await AccessService.GetStatus(HttpContext.Request.Query["token"].ToString());
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RolePlayGameClient</title>
    <base href="~/" />

    @{
        switch (result)
        {
            case AccessEnums.Success:
                <link rel="stylesheet" href="~/css/customLayout.css" />
                <script src="~/lib/jquery/jquery-3.3.1.js"></script>
                <script src="~/lib/popper/popper.min.js"></script>
                <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
                <script src="~/lib/canvas_gauges/gauge.min.js"></script>
                <script src="~/js/animate.js"></script>
                <script src="~/js/ingoing.js"></script>
                <script src="~/js/outgoing.js"></script>
                break;
            default:
                <link rel="stylesheet" href="~/css/defaultLayout.css" />
                break;
        }
    }
</head>
<body>
    @{
        switch (result)
        {
            case AccessEnums.Error:
                <app>@(await Html.RenderComponentAsync<Index>())</app>
                break;
            case AccessEnums.NotWhitelisted:
                <app>@(await Html.RenderComponentAsync<NotWhitelisted>())</app>
                break;
            case AccessEnums.NotOnline:
                <app>@(await Html.RenderComponentAsync<NotOnline>())</app>
                break;
            case AccessEnums.IpNotFound:
                <app>@(await Html.RenderComponentAsync<IpNotFound>())</app>
                break;
            case AccessEnums.Success:
                <app>@(await Html.RenderComponentAsync<App>())</app>
                break;
        }
    }
    <script src="_framework/blazor.server.js"></script>
</body>
</html>