﻿@page "/FuelStation/{Social}"
@inject FuelStationService FuelStationService

@if (FuelStationService.VehicleFound)
{
    <div class="container" id="fuelStationCtn">
        <div class="row" id="fuelStationHeadlineRow">
            <div class="col-1">
                <h5>@FuelStationService._vehFuel.TankStatus</h5>
            </div>
            <div class="col text-center">
                <h1 style="color: silver">Tankstelle</h1>
            </div>
            <div class="col-1">
                <button id="closeWndBtn" @onclick="@(() => FuelStationService.CloseFuelStation())"><i class="fas fa-window-close"></i></button>
            </div>
        </div>
        <div class="row">
            <div id="fuelpumpCol" class="col">
                <div id="electroPump" class="card">
                    <div class="card-title">
                    </div>
                    <div class="card-header text-center" id="fuelStationHeader">
                        <h1 style="color: lightgreen">Elektro</h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col text-right">
                                <h5>Betrag:</h5>
                                <h5>Abgabe:</h5>
                            </div>
                            <div class="col text-center">
                                <h5>@(FuelStationService.CurrBill_Electric.ToString("00.00"))</h5>
                                <h5>@(FuelStationService.CurrAmount_Electric.ToString("00.00"))</h5>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col text-center">
                                <h4>Preis/kWh: @(FuelStationService.ElectricPrice.ToString("0.00"))$</h4>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col">
                                <button @onclick="@(() => FuelStationService.StartPump(VehicleFuelEnums.Electric))" id="pumpStart">
                                    starten
                                </button>
                            </div>
                            <div class="col">
                                <button id="pumpStop" @onclick="FuelStationService.StopPump">stoppen</button>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col">
                                <button id="payFuel" @onclick="@(() => FuelStationService.PayFuel(VehicleFuelEnums.Electric))">Jetzt zahlen</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" id="fuelPumpFooter">
                    </div>
                </div>
            </div>
            <div id="fuelpumpCol" class="col">
                <div id="benzinPump" class="card">
                    <div class="card-title">
                    </div>
                    <div class="card-header text-center" id="fuelStationHeader">
                        <h1 style="color: lightsalmon">Benzin</h1>
                    </div>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col text-right">
                                <h5>Betrag:</h5>
                                <h5>Abgabe:</h5>
                            </div>
                            <div class="col text-center">
                                <h5>@(FuelStationService.CurrBill_Petrol.ToString("00.00"))</h5>
                                <h5>@(FuelStationService.CurrAmount_Petrol.ToString("00.00"))</h5>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col text-center">
                                <h4>Preis/Liter: @(FuelStationService.PetrolPrice.ToString("0.00"))$</h4>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col">
                                <button @onclick="@(() => FuelStationService.StartPump(VehicleFuelEnums.Petrol))" id="pumpStart">
                                    starten
                                </button>
                            </div>
                            <div class="col">
                                <button id="pumpStop" @onclick="FuelStationService.StopPump">stoppen</button>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col">
                                <button id="payFuel" @onclick="@(() => FuelStationService.PayFuel(VehicleFuelEnums.Petrol))">Jetzt zahlen</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" id="fuelPumpFooter">
                    </div>
                </div>
            </div>
            <div id="fuelpumpCol" class="col">
                <div id="dieselPump" class="card">
                    <div class="card-title">
                    </div>
                    <div class="card-header text-center" id="fuelStationHeader">
                        <h1 style="color: lightblue">Diesel</h1>
                    </div>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col text-right">
                                <h5>Betrag:</h5>
                                <h5>Abgabe:</h5>
                            </div>
                            <div class="col text-center">
                                <h5>@(FuelStationService.CurrBill_Diesel.ToString("00.00"))</h5>
                                <h5>@(FuelStationService.CurrAmount_Diesel.ToString("00.00"))</h5>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col text-center">
                                <h4>Preis/Liter: @(FuelStationService.DieselPrice.ToString("0.00"))$</h4>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col">
                                <button @onclick="@(() => FuelStationService.StartPump(VehicleFuelEnums.Diesel))" id="pumpStart">
                                    starten
                                </button>
                            </div>
                            <div class="col">
                                <button id="pumpStop" @onclick="FuelStationService.StopPump">stoppen</button>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col">
                                <button id="payFuel" @onclick="@(() => FuelStationService.PayFuel(VehicleFuelEnums.Diesel))">Jetzt zahlen</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" id="fuelPumpFooter">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="fuelStationFooterRow"></div>
    </div>
}
else
{
    <div class="container" id="fuelStationCtn">
        <div class="row" id="fuelStationHeadlineRow">
            <div class="col-1"></div>
            <div class="col text-center">
                <h1 style="color: silver">Tankstelle</h1>
            </div>
            <div class="col-1">
                <button id="closeWndBtn" @onclick="@(() => FuelStationService.CloseFuelStation())"><i class="fas fa-window-close"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h1 style="color: darkred">Es wurde kein Fahrzeug gefunden!</h1>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col text-center">
                <h3 style="background-color: rgba(0,0,0,.5);border-radius:100vw">Aktuelle Kraftstoffpreise:</h3>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col text-center">
                <h3>Elektro</h3>
            </div>
            <div class="col text-center">
                <h3>Benzin</h3>
            </div>
            <div class="col text-center">
                <h3>Diesel</h3>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col text-center">
                <h5>@(FuelStationService.ElectricPrice.ToString("0.00"))$</h5>
            </div>
            <div class="col text-center">
                <h5>@(FuelStationService.PetrolPrice.ToString("0.00"))$</h5>
            </div>
            <div class="col text-center">
                <h5>@(FuelStationService.DieselPrice.ToString("0.00"))$</h5>
            </div>
        </div>
        <hr />
        <div class="row" id="fuelStationFooterRow">
        </div>
    </div>
}


@code{

    [Parameter] public string Social { get; set; }

    protected override void OnInit()
    {
        FuelStationService.OnChange += StateHasChanged;
        FuelStationService.Init(Social);
    }

}
