﻿@page "/VehicleGarage/{Social}"
@inject VehicleGarageService VehicleGarageService

<div class="container" id="vehGarageCtn">

    <div class="row">
        <div class="col">
            <h1>Garage</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">

        </div>
    </div>

</div>





@code{

    [Parameter] public string Social { get; set; }

    protected override void OnInit()
    {
        VehicleGarageService.OnChange += StateHasChanged;
    }

}