﻿@page "/VehicleTrunk/{Social}"
@inject VehicleTrunkService VehicleTrunkService

<div class="container" id="vehTrunkCtn">
    <div class="row">
        <div class="col-1"></div>
        <div class="col text-center">
            <h1>Fahrzeuginventar</h1>
        </div>
        <div class="col-1">
            <button id="closeWndBtn" @onclick="@(() => VehicleTrunkService.CloseVehicleTrunk(Social))"><i class="fas fa-window-close"></i></button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col text-left">
            <label>Dein Inventar - <i class="fas fa-weight-hanging" style="color: grey">&nbsp;Gewicht:&nbsp;</i>@VehicleTrunkService.PWeight.ToString("0.0") / 100</label>
            <ul class="list-group" id="vehInvList">
                @foreach (var (pKey, pValue) in VehicleTrunkService.PlayerInvDic)
                {
                    var iconName = IconCfg.IconsConfig.First((x => x.Key == pValue.ItemType)).Value;

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <i class="fas @iconName"></i>
                        <span id="cuttable">
                            <strong style="color: grey;">@(pKey.Amount)x </strong><strong>@(pValue.DisplayedName)</strong>
                        </span>
                        <span>
                            <button type="button" class="btn btn-secondary" id="silverBtn" @onclick="@(() => VehicleTrunkService.MoveItem(Social, true, pKey.Item))">
                                <i class="fas fa-arrow-circle-right"></i>
                            </button>
                        </span>
                    </li>
                }
            </ul>
        </div>
        <div class="col-3 text-center">
            <label>Anzahl wählen</label>
            <div class="row">
                <div class="col text-center">
                    <h1 style="background-color: rgba(0, 0, 0, .5);border: 2px solid grey; border-radius: 10px 10px 0 0;">@VehicleTrunkService.MoveValue</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="traderBtnGrp" class="btn-group" role="group" style="width: 100%;">
                        <button @onclick="@(() => VehicleTrunkService.LowerTradeValue(10))" type="button" class="btn btn-secondary">-10</button>
                        <button @onclick="@(() => VehicleTrunkService.LowerTradeValue(1))" type="button" class="btn btn-secondary">-1</button>
                        <button @onclick="@(() => VehicleTrunkService.RaiseTradeValue(1))" type="button" class="btn btn-secondary">+1</button>
                        <button @onclick="@(() => VehicleTrunkService.RaiseTradeValue(10))" type="button" class="btn btn-secondary">+10</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-right">
            <label>Fahrzeuginventar - <i class="fas fa-weight-hanging" style="color: grey">&nbsp;Gewicht:&nbsp;</i>@VehicleTrunkService.VWeight.ToString("0.0") / @VehicleTrunkService.VMaxWeight</label>
            <ul class="list-group" id="vehInvList">
                @foreach (var (vKey, vValue) in VehicleTrunkService.VehicleInvDic)
                {
                    var iconName = IconCfg.IconsConfig.First((x => x.Key == vValue.ItemType)).Value;

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>
                            <button type="button" class="btn btn-secondary" id="silverBtn" @onclick="@(() => VehicleTrunkService.MoveItem(Social, false, vKey.Item))">
                                <i class="fas fa-arrow-circle-left"></i>
                            </button>
                        </span>
                        <span id="cuttable">
                            <strong style="color: grey;">@(vKey.Amount)x </strong><strong>@(vValue.DisplayedName)</strong>
                        </span>
                        <i class="fas @iconName"></i>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

@code{

    [Parameter] public string Social { get; set; }

    protected override void OnInit()
    {
        VehicleTrunkService.OnChange += StateHasChanged;
        VehicleTrunkService.OnInit(Social);
    }

}
