﻿@page "/VehicleBuy/{Social}/{MarkName}"
@inject VehicleBuyService VehicleBuyService

<div class="container" id="vehicleBuyCtn">
    <div class="card" id="vehBuyCard">
        <div class="card-body">
            <div class="row">
                <div class="col text-center">
                    <h1 style="color: royalblue;">Fahrzeugkauf</h1>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col text-center">
                    <h3 style="color: silver;">Fahrzeugname:</h3>
                </div>
                <div class="col text-center">
                    <h3 id="priceValue">@VehicleBuyService.VehicleConfig.VehicleName</h3>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h3 style="color: silver;">Kofferraum:</h3>
                </div>
                <div class="col text-center">
                    <h3 id="InventoryCapacityValue">@VehicleBuyService.VehicleConfig.InventoryCapacity</h3>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h3 style="color: silver;">Kraftstoffart:</h3>
                </div>
                <div class="col text-center">
                    <h3 id="fuelTypeValue">@VehicleBuyService.VehicleConfig.FuelType</h3>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h3 style="color: silver;">Tankvolumen:</h3>
                </div>
                <div class="col text-center">
                    <h3 id="tankTankCapacityValue">@VehicleBuyService.VehicleConfig.TankCapacity</h3>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h3 style="color: silver;">Verbrauch:</h3>
                </div>
                <div class="col text-center">
                    <h3 id="FuelConsumtionValue">@VehicleBuyService.VehicleConfig.FuelConsumption</h3>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h3 style="color: silver;">Kaufpreis:</h3>
                </div>
                <div class="col text-center">
                    <h3 id="priceValue">@VehicleBuyService.VehicleConfig.Price.ToString("0.00")$</h3>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col">
                    <a id="vehBuyBtn" class="btn btn-primary" @onclick="@(() => VehicleBuyService.BuyVehicle(Social, MarkName))">jetzt kaufen</a>
                </div>
                <div class="col">
                    <a id="vehBuyCancelBtn" class="btn btn-primary" @onclick="@(() => VehicleBuyService.CloseVehicleBuy(Social))">nicht kaufen</a>
                </div>
            </div>
        </div>
    </div>
</div>

@code{

[Parameter] public string Social { get; set; }
[Parameter] public string MarkName { get; set; }

protected override void OnInit()
{
VehicleBuyService.OnChange += StateHasChanged;
VehicleBuyService.OnInit(Social, MarkName);
}

}