﻿@page "/VehicleInteraction/{Social}"
@inject VehicleInteractionService VehicleInteractionService

<div class="container" id="vehicleInteractionCtn">
    <div class="row text-center">
        <div class="col text-center">
            <h1>Fahrzeugsteuerung</h1>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
        </div>
        <div class="col text-center">
            <button style="width: 100%">Motorhaube</button>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col text-right">
            <button style="margin-top: 100%; width: 100%;">Tür</button>
            <button style="margin-top: 25%; width: 100%;">Tür</button>
        </div>
        <div class="col">
            <img src="~/images/vehicle/4-tueren.png"/>
        </div>
        <div class="col text-left">
            <button style="margin-top: 100%; width: 100%;">Tür</button>
            <button style="margin-top: 25%; width: 100%;">Tür</button>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col text-center">
            <button style="width: 100%">Kofferraum</button>
        </div>
        <div class="col">
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-4">
            <button id="engineBtn" style="width: 100%">Motor an/aus</button>
        </div>
        <div class="col-2">

        </div>
        <div class="col-4">
            <button id="engineBtn" style="width: 100%">Türen auf/zu</button>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>

@code{

[Parameter] public string Social { get; set; }

protected override void OnInit()
{
VehicleInteractionService.OnChange += StateHasChanged;
}

}