﻿@page "/Dumpster/{Social}"
@inject DumpsterService DumpsterService

<div class="container" id="dumpsterCtn">
    <div class="row">
        <div class="col-1"></div>
        <div class="col text-center">
            <h1>Fahrzeuginventar</h1>
        </div>
        <div class="col-1">
            <button id="closeWndBtn" @onclick="@DumpsterService.CloseDumpster"><i class="fas fa-window-close"></i></button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col text-left">
            <label>Dein Inventar - <i class="fas fa-weight-hanging" style="color: grey">&nbsp;Gewicht:&nbsp;</i>@DumpsterService.PWeight.ToString("0.0") / 100</label>
            <ul class="list-group" id="vehInvList">
                @foreach (var (pKey, pValue) in DumpsterService.PlayerInvDic)
                {
                    var iconName = IconCfg.IconsConfig.First((x => x.Key == pValue.ItemType)).Value;

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <i class="fas @iconName"></i>
                        <span id="cuttable">
                            <strong style="color: grey;">@(pKey.Amount)x </strong><strong>@(pValue.DisplayedName)</strong>
                        </span>
                        <span>
                            <button type="button" class="btn btn-secondary" id="silverBtn" @onclick="@(() => DumpsterService.ToDumpster(pKey.Item))">
                                <i class="fas fa-arrow-circle-right"></i>
                            </button>
                        </span>
                    </li>
                }
            </ul>
        </div>
        <div class="col-3 text-center">
            <label>Anzahl wählen</label>
            <div class="row">
                <div class="col text-center">
                    <h1 style="background-color: rgba(0, 0, 0, .5);border: 2px solid grey; border-radius: 10px 10px 0 0;">@DumpsterService.MoveValue</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="traderBtnGrp" class="btn-group" role="group" style="width: 100%;">
                        <button @onclick="@(() => DumpsterService.LowerTradeValue(10))" type="button" class="btn btn-secondary">-10</button>
                        <button @onclick="@(() => DumpsterService.LowerTradeValue(1))" type="button" class="btn btn-secondary">-1</button>
                        <button @onclick="@(() => DumpsterService.RaiseTradeValue(1))" type="button" class="btn btn-secondary">+1</button>
                        <button @onclick="@(() => DumpsterService.RaiseTradeValue(10))" type="button" class="btn btn-secondary">+10</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-right">
            <label>Fahrzeuginventar - <i class="fas fa-weight-hanging" style="color: grey">&nbsp;Gewicht:&nbsp;</i>@DumpsterService.DWeight.ToString("0.0") / 250</label>
            <ul class="list-group" id="vehInvList">
                @foreach (var (dKey, dValue) in DumpsterService.DumpsterInvDic)
                {
                    var iconName = IconCfg.IconsConfig.First((x => x.Key == dValue.ItemType)).Value;

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>
                            <button type="button" class="btn btn-secondary" id="silverBtn" @onclick="@(() => DumpsterService.ToInventory(dKey.Item))">
                                <i class="fas fa-arrow-circle-left"></i>
                            </button>
                        </span>
                        <span id="cuttable">
                            <strong style="color: grey;">@(dKey.Amount)x </strong><strong>@(dValue.DisplayedName)</strong>
                        </span>
                        <i class="fas @iconName"></i>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

@code{

    [Parameter] public string Social { get; set; }

    protected override void OnInit()
    {
        DumpsterService.OnChange += StateHasChanged;
        DumpsterService.Init(Social);
    }

}