﻿<div class="modal text-center" id="errorModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Fehler</h4>
                <button type="button" class="close" data-dismiss="modal">Cancel</button>
            </div>
            <div class="modal-body">
                <a>@Body</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

@functions
{

    [Parameter]
    public string Body { get; set; }

}