﻿@page "/CharCreator/{Social}"
@inject CharCreatorService CharCreatorService
@inject IJSRuntime IJsRuntime

<div class="top-row" id="creatorTopRow">
    <div class="col">
        <img class="card-img-top" src="/images/logoTGS.png" alt="TGS">
    </div>
    <div class="col-9 text-center">
        <h1>Charaktererstellung</h1>
    </div>
    <div class="col">
        <img class="card-img-top" src="/images/logoTGS.png" alt="TGS">
    </div>
</div>
<div class="row" id="creatorInfoRow">
    <div class="col-3 text-center">
        <div class="card" id="creatorLeftCard">
            <div class="card-title">
                <h1>Einstellungen</h1>
            </div>
            <div class="card-body">
                <ul class="list-group" id="charCreatorSettList">
                    @switch (CharCreatorService.ViewValue)
                    {
                        case 1:
                            <li class="list-group-item d-flex justify-content-between align-items-center" id="listHeadLine"><strong>Kopf</strong></li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(0, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(0))"><span class="text-dark">&nbsp;Form I&nbsp;<em>(@CharCreatorService.CharSettings.FirstHeadShape / 45)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(0, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(1, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(1))"><span class="text-dark">&nbsp;Form II&nbsp;<em>(@CharCreatorService.CharSettings.SecondHeadShape / 45)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(1, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(4, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(4))"><span class="text-dark">&nbsp;Mix&nbsp;<em>(@(CharCreatorService.CharSettings.HeadMix)%)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(4, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center" id="listBackLine" @onclick="@(() => CharCreatorService.ChangeView(0))"><strong>zurück</strong></li>
                            break;
                        case 2:
                            <li class="list-group-item d-flex justify-content-between align-items-center" id="listHeadLine"><strong>Haut</strong></li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(2, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(2))"><span class="text-dark">&nbsp;Farbe I&nbsp;<em>(@CharCreatorService.CharSettings.FirstSkinTone / 45)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(2, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(3, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(3))"><span class="text-dark">&nbsp;Farbe II&nbsp;<em>(@CharCreatorService.CharSettings.SecondSkinTone / 45)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(3, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(5, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(5))"><span class="text-dark">&nbsp;Mix&nbsp;&nbsp;<em>(@(CharCreatorService.CharSettings.SkinMix)%)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(5, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center" id="listBackLine" @onclick="@(() => CharCreatorService.ChangeView(0))"><strong>zurück</strong></li>
                            break;
                        case 3:
                            <li class="list-group-item d-flex justify-content-between align-items-center" id="listHeadLine"><strong>Haare</strong></li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(6, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(6))"><span class="text-dark">&nbsp;Schnitt&nbsp;<em>(@CharCreatorService.CharSettings.HairModel / 73)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(6, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(7, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(7))"><span class="text-dark">&nbsp;Farbe I&nbsp;<em>(@CharCreatorService.CharSettings.FirstHairColor / 31)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(7, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(8, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(8))"><span class="text-dark">&nbsp;Farbe II&nbsp;<em>(@CharCreatorService.CharSettings.SecondHairColor / 31)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(8, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center" id="listBackLine" @onclick="@(() => CharCreatorService.ChangeView(0))"><strong>zurück</strong></li>
                            break;
                        case 4:
                            <li class="list-group-item d-flex justify-content-between align-items-center" id="listHeadLine"><strong>Bart</strong></li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(9, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(9))"><span class="text-dark">&nbsp;Schnitt&nbsp;<em>(@CharCreatorService.CharSettings.BeardModel / 28)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(9, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(10, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(10))"><span class="text-dark">&nbsp;Farbe&nbsp;<em>(@CharCreatorService.CharSettings.BeardColor / 28)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(10, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center" id="listBackLine" @onclick="@(() => CharCreatorService.ChangeView(0))"><strong>zurück</strong></li>
                            break;
                        case 5:
                            <li class="list-group-item d-flex justify-content-between align-items-center" id="listHeadLine"><strong>Körper</strong></li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(11, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(11))"><span class="text-dark">&nbsp;Statur&nbsp;<em>(@CharCreatorService.CharSettings.ChestModel / 16)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(11, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(12, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(12))"><span class="text-dark">&nbsp;Teint&nbsp;<em>(@CharCreatorService.CharSettings.ChestColor / 16)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(12, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(13, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(13))"><span class="text-dark">&nbsp;Unreinheit&nbsp;<em>(@CharCreatorService.CharSettings.BlemishesModel / 23)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(13, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(14, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(14))"><span class="text-dark">&nbsp;Alterung&nbsp;<em>(@CharCreatorService.CharSettings.AgingModel / 14)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(14, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(45, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(45))"><span class="text-dark">&nbsp;Hals&nbsp;<em>(@CharCreatorService.CharSettings.NeckWidth / +-10)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(45, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center" id="listBackLine" @onclick="@(() => CharCreatorService.ChangeView(0))"><strong>zurück</strong></li>
                            break;
                        case 6:
                            <li class="list-group-item d-flex justify-content-between align-items-center" id="listHeadLine"><strong>Gesicht I</strong></li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(15, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(15))"><span class="text-dark">&nbsp;Teint&nbsp;<em>(@CharCreatorService.CharSettings.ComplexionModel / 11)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(15, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(16, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(16))"><span class="text-dark">&nbsp;Sonnenschaden&nbsp;<em>(@CharCreatorService.CharSettings.SunDamageModel / 10)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(16, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(17, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(17))"><span class="text-dark">&nbsp;Sommersprossen&nbsp;<em>(@CharCreatorService.CharSettings.FrecklesModel / 17)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(17, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(38, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(38))"><span class="text-dark">&nbsp;Lippen&nbsp;<em>(@CharCreatorService.CharSettings.Lips / +-1.0)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(38, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(34, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(34))"><span class="text-dark">&nbsp;Wangenknochenhöhe&nbsp;<em>(@CharCreatorService.CharSettings.CheekboneHeight / +-1.0)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(34, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(35, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(35))"><span class="text-dark">&nbsp;Wangenknochenbreite&nbsp;<em>(@CharCreatorService.CharSettings.CheekboneWidth / +-1.0)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(35, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(36, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(36))"><span class="text-dark">&nbsp;Wangenbreite&nbsp;<em>(@CharCreatorService.CharSettings.CheeksWidth / +-1.0)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(36, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center" id="listBackLine" @onclick="@(() => CharCreatorService.ChangeView(0))"><strong>zurück</strong></li>
                            break;
                        case 7:
                            <li class="list-group-item d-flex justify-content-between align-items-center" id="listHeadLine"><strong>Gesicht II</strong></li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(39, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(39))"><span class="text-dark">&nbsp;KieferBreite&nbsp;<em>(@CharCreatorService.CharSettings.JawWidth / +-1.0)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(39, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(40, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(40))"><span class="text-dark">&nbsp;KieferHöhe&nbsp;<em>(@CharCreatorService.CharSettings.JawHeight / +-1.0)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(40, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(41, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(41))"><span class="text-dark">&nbsp;KinnLänge&nbsp;<em>(@CharCreatorService.CharSettings.ChinLength / +-1.0)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(41, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(42, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(42))"><span class="text-dark">&nbsp;KinnPosition&nbsp;<em>(@CharCreatorService.CharSettings.ChinPosition / +-1.0)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(42, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(43, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(43))"><span class="text-dark">&nbsp;KinnBreite&nbsp;<em>(@CharCreatorService.CharSettings.ChinWidth / +-1.0)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(43, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(44, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(44))"><span class="text-dark">&nbsp;KinnForm&nbsp;<em>(@CharCreatorService.CharSettings.ChinShape / +-1.0)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(44, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center" id="listBackLine" @onclick="@(() => CharCreatorService.ChangeView(0))"><strong>zurück</strong></li>
                            break;
                        case 8:
                            <li class="list-group-item d-flex justify-content-between align-items-center" id="listHeadLine"><strong>Augen</strong></li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(37, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(37))"><span class="text-dark">&nbsp;Augentyp&nbsp;<em>(@CharCreatorService.CharSettings.Eyes / +-1.0)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(37, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(18, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(18))"><span class="text-dark">&nbsp;Augenfarbe&nbsp;<em>(@CharCreatorService.CharSettings.EyesColor / 31)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(18, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(19, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(19))"><span class="text-dark">&nbsp;Augenbraun&nbsp;<em>(@CharCreatorService.CharSettings.EyebrowsModel / 33)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(19, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(32, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(32))"><span class="text-dark">&nbsp;Augenbraunhöhe&nbsp;<em>(@CharCreatorService.CharSettings.BrowHeight / +-1.0)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(32, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(33, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(33))"><span class="text-dark">&nbsp;Augenbraunbreite&nbsp;<em>(@CharCreatorService.CharSettings.BrowWidth / +-1.0</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(33, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(20, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(20))"><span class="text-dark">&nbsp;Augenbraunfarbe&nbsp;<em>(@CharCreatorService.CharSettings.EyebrowsColor / 33)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(20, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center" id="listBackLine" @onclick="@(() => CharCreatorService.ChangeView(0))"><strong>zurück</strong></li>
                            break;
                        case 9:
                            <li class="list-group-item d-flex justify-content-between align-items-center" id="listHeadLine"><strong>Makeup</strong></li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(21, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(21))"><span class="text-dark">&nbsp;Typ&nbsp;<em>(@CharCreatorService.CharSettings.MakeupModel / 74)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(21, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(22, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(22))"><span class="text-dark">&nbsp;Wangen&nbsp;<em>(@CharCreatorService.CharSettings.BlushModel / 6)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(22, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(23, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(23))"><span class="text-dark">&nbsp;Wangenfarbe&nbsp;<em>(@CharCreatorService.CharSettings.BlushColor / 6)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(23, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(24, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(24))"><span class="text-dark">&nbsp;Lippenstift&nbsp;<em>(@CharCreatorService.CharSettings.LipstickModel / 9)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(24, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(25, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(25))"><span class="text-dark">&nbsp;Lippenstiftfarbe&nbsp;<em>(@CharCreatorService.CharSettings.LipstickColor / 9)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(25, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center" id="listBackLine" @onclick="@(() => CharCreatorService.ChangeView(0))"><strong>zurück</strong></li>
                            break;
                        case 10:
                            <li class="list-group-item d-flex justify-content-between align-items-center" id="listHeadLine"><strong>Nase</strong></li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(26, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(26))"><span class="text-dark">&nbsp;Breite&nbsp;<em>(@CharCreatorService.CharSettings.NoseWidth / +-1.0)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(26, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(27, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(27))"><span class="text-dark">&nbsp;Höhe&nbsp;<em>(@CharCreatorService.CharSettings.NoseHeight / +-1.0)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(27, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(28, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(28))"><span class="text-dark">&nbsp;Länge&nbsp;<em>(@CharCreatorService.CharSettings.NoseLength / +-1.0)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(28, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(29, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(29))"><span class="text-dark">&nbsp;Rücken&nbsp;<em>(@CharCreatorService.CharSettings.NoseBridge / +-1.0)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(29, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(30, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(30))"><span class="text-dark">&nbsp;Spitze&nbsp;<em>(@CharCreatorService.CharSettings.NoseTip / +-1.0)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(30, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fas fa-arrow-circle-left" @onclick="@(() => CharCreatorService.SendSetting(31, false))"></i>
                                <i class="fas fa-undo text-danger" @onclick="@(() => CharCreatorService.ResetSetting(31))"><span class="text-dark">&nbsp;Verschiebung&nbsp;<em>(@CharCreatorService.CharSettings.NoseShift / +-1.0)</em></span></i>
                                <i class="fas fa-arrow-circle-right" @onclick="@(() => CharCreatorService.SendSetting(31, true))"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center" id="listBackLine" @onclick="@(() => CharCreatorService.ChangeView(0))"><strong>zurück</strong></li>
                            break;
                        default:
                            <li class="list-group-item d-flex justify-content-between align-items-center" @onclick="@(() => CharCreatorService.ChangeView(1))">
                                <i class="fas fa-sliders-h"> <strong style="color: grey">Kopf</strong></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center" @onclick="@(() => CharCreatorService.ChangeView(2))">
                                <i class="fas fa-sliders-h"> <strong style="color: grey">Haut</strong></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center" @onclick="@(() => CharCreatorService.ChangeView(3))">
                                <i class="fas fa-sliders-h"> <strong style="color: grey">Haare</strong></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center" @onclick="@(() => CharCreatorService.ChangeView(4))">
                                <i class="fas fa-sliders-h"> <strong style="color: grey">Bart</strong></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center" @onclick="@(() => CharCreatorService.ChangeView(5))">
                                <i class="fas fa-sliders-h"> <strong style="color: grey">Körper</strong></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center" @onclick="@(() => CharCreatorService.ChangeView(6))">
                                <i class="fas fa-sliders-h"> <strong style="color: grey">Gesicht I</strong></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center" @onclick="@(() => CharCreatorService.ChangeView(7))">
                                <i class="fas fa-sliders-h"> <strong style="color: grey">Gesicht II</strong></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center" @onclick="@(() => CharCreatorService.ChangeView(8))">
                                <i class="fas fa-sliders-h"> <strong style="color: grey">Augen</strong></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center" @onclick="@(() => CharCreatorService.ChangeView(9))">
                                <i class="fas fa-sliders-h"> <strong style="color: grey">Makeup</strong></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center" @onclick="@(() => CharCreatorService.ChangeView(10))">
                                <i class="fas fa-sliders-h"> <strong style="color: grey">Nase</strong></i>
                            </li>
                            break;
                    }
                </ul>
            </div>
            <div class="card-footer">
                <p>Du kannst diesen Editor nur einmal nutzen. Später sind aber noch einzelne Änderungen im Spiel möglich!</p>
            </div>
        </div>
    </div>
    <div class="col-9"></div>
</div>
<div class="footer" id="creatorFooter">
    <div class="col-3 text-right">
        <button id="creatorFocusBtn" type="button" class="btn btn-primary" @onclick="@(() => IJsRuntime.InvokeAsync<bool>("charCreator.changeCameraFocus", "0"))">
            <span class="fas fa-search-minus"></span>
        </button>
        <button id="creatorFocusBtn" type="button" class="btn btn-primary" @onclick="@(() => IJsRuntime.InvokeAsync<bool>("charCreator.changeCameraFocus", "1"))">
            <span class="fas fa-search-plus"></span>
        </button>
        <button id="creatorFocusBtn" type="button" class="btn btn-primary" @onclick="@(() => IJsRuntime.InvokeAsync<bool>("charCreator.changeCameraFocus", "2"))">
            <span class="fas fa-search-plus"></span>
        </button>
    </div>
    <div class="col-6 text-center">
        <button type="button" id="creatorRotation" class="btn btn-primary" @onclick="@(() => IJsRuntime.InvokeAsync<bool>("charCreator.rotateCharacter", "180"))">
            <span class="fas fa-street-view"> Vorn</span>
        </button>
        <button type="button" id="creatorRotation" class="btn btn-primary" @onclick="@(() => IJsRuntime.InvokeAsync<bool>("charCreator.rotateCharacter", "0" ))">
            <span class="fas fa-street-view"> Hinten</span>
        </button>
        <button type="button" id="creatorRotation" class="btn btn-primary" @onclick="@(() => IJsRuntime.InvokeAsync<bool>("charCreator.rotateCharacter", "270" ))">
            <span class="fas fa-street-view"> Rechts</span>
        </button>
        <button type="button" id="creatorRotation" class="btn btn-primary" @onclick="@(() => IJsRuntime.InvokeAsync<bool>("charCreator.rotateCharacter", "90" ))">
            <span class="fas fa-street-view"> Links</span>
        </button>
    </div>
    <div class="col-3 text-left">
        <button type="button" id="creatorSumit" class="btn btn-primary" @onclick="@(CharCreatorService.Summit)">
            <span class="fas fa-check-circle"></span>
        </button>
    </div>
</div>

@code{

    [Parameter] public string Social { get; set; }

    protected override void OnInit()
    {
        CharCreatorService.OnChange += StateHasChanged;
        CharCreatorService.Init(Social, IJsRuntime);
    }

}