﻿@inject CookingService CookingService

<div class="row" id="cookingListDiv">
    <div class="col-2" id="cookingSideDecorLeft"></div>
    <div class="col" id="cookingRecipeTable">
        <ul class="list-group">
            @foreach (var item in FingerFoodFiltered)
            {
                var itemCfg = ItemCfg.ItemConfig.FirstOrDefault(x => x.ItemName == item.CookedItemType);

                <li class="list-group-item" id="cookingRecipeItem">
                    <div class="row">
                        <div class="col">
                            @item.RecipeName
                        </div>
                        <div class="col-3">
                            @itemCfg.Description
                        </div>
                        <div class="col-1">
                            @if (CookingService.Continue)
                            {
                                <button id="cookingStartBtn" @onclick="@(() => CookingService.StopProcess())">
                                    <span class="oi oi-media-stop"></span>
                                </button>
                            }
                            else
                            {
                                <button id="cookingStartBtn" @onclick="@(() => CookingService.StartProcess(item.RecipeName))">
                                    <span class="oi oi-media-play"></span>
                                </button>
                            }
                        </div>
                    </div>
                    <div id="recipeInfo" class="collapse">
                        <hr />
                        <a>
                            <strong>Zutaten: </strong>
                        </a>
                        @foreach (var (MatKey, MatValue) in item.MatsList)
                        {
                            var matCfg = ItemCfg.ItemConfig.FirstOrDefault(x => x.ItemName == MatKey);

                            <a>
                                <em>@(MatValue)x @(matCfg.DisplayedName)</em>
                            </a>
                        }
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="col-2" id="cookingSideDecorRight"></div>
</div>
<hr />
<div class="row">
    <div class="col-2">
        <input @bind="CookingService.Amount" id="cookingAmountInput" type="number" min="1" max="100" />
    </div>
    <div class="col">
        <div class="progress" id="cookingProcessBar">
            <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: @(CookingService.Progress + "%");" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">@CookingService.ProgressName</div>
        </div>
    </div>
    <div class="col-2">
        <p>In Produktion: @CookingService.WaitList Stk.</p>
    </div>
</div>

@code{

    [Parameter] public string Social { get; set; }
    [Parameter] public CookingCategoryEnums CookingCategory { get; set; }
    [Parameter] public CookingLevelEnums CookingLevel { get; set; }

    private int CurrentValue = 1;

    private List<CookingRecipeModel> FingerFoodFiltered = new List<CookingRecipeModel>();

    protected override void OnInit()
    {
        CookingService.OnChange += StateHasChanged;

        FingerFoodFiltered = CookingService.GetFilteredCookingRecipes(CookingCategory);

        StateHasChanged();
    }

}