﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>WTV RPG UI</title>
    <link rel="stylesheet" href="~/css/ui.css"/>
    <script src="~/lib/jquery/jquery-3.3.1.js"></script>
    <script src="~/lib/popper/popper.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/canvas_gauges/gauge.min.js"></script>
    <script src="~/js/ui.js"></script>
</head>
<body onload="initialLoad()">
<div class="top-row" id="uiTopRow"></div>
<main role="main">
    @RenderBody()
</main>
<div id="fuelWindow">
    <canvas id="fuelGauge" class="animated fadeOut slower" data-type="radial-gauge"
            data-width="125"
            data-height="125"
            data-units=""
            data-min-value="0"
            data-start-angle="100"
            data-ticks-angle="160"
            data-value-box="false"
            data-max-value="100"
            data-major-ticks="0,25,50,75,100"
            data-minor-ticks="2"
            data-stroke-ticks="true"
            data-highlights='[ {"from": 0, "to": 10, "color": "rgba(200, 50, 50, .6)"} ]'
            data-color-plate="rgba(0,0,0,.5)"
            data-color-major-ticks="white"
            data-color-minor-ticks="white"
            data-color-numbers="white"
            data-border-shadow-width="0"
            data-borders="false"
            data-needle-type="arrow"
            data-needle-width="2"
            data-needle-circle-size="7"
            data-needle-circle-outer="true"
            data-needle-circle-inner="false"
            data-animation="false"
            data-value="0">
    </canvas>
</div>
<div id="speedoWindow">
    <canvas id="speedGauge" class="animated fadeOut slower" data-type="radial-gauge"
            data-width="225"
            data-height="225"
            data-units=""
            data-min-value="0"
            data-start-angle="50"
            data-ticks-angle="260"
            data-value-box="false"
            data-max-value="280"
            data-major-ticks="000,020,040,060,080,100,120,140,160,180,200,220,240,260,280"
            data-minor-ticks="2"
            data-stroke-ticks="true"
            data-highlights='[ {"from": 180, "to": 280, "color": "rgba(200, 50, 50, .6)"} ]'
            data-color-plate="rgba(0,0,0,.25)"
            data-color-major-ticks="white"
            data-color-minor-ticks="white"
            data-color-numbers="white"
            data-border-shadow-width="0"
            data-borders="false"
            data-needle-type="arrow"
            data-needle-width="2"
            data-needle-circle-size="7"
            data-needle-circle-outer="true"
            data-needle-circle-inner="false"
            data-animation="false"
            data-value="0">
    </canvas>
</div>
<div class="footer" id="uiFooter"></div>
</body>
</html>