﻿@page "/Error"

<div class="container">
    <div class="row">
        <div id="headline" class="col text-center">
            <img src="/images/logoWtv.png"/>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h1 id="headlineText">GTA Hardcore Roleplay Server</h1>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h3 class="animated pulse slow infinite">internal error</h3>
        </div>
    </div>
</div>