﻿@page "/NotWhitelisted"

<div class="container">
    <div class="row">
        <div id="headline" class="col text-center">
            <img src="/images/logoWtv.png"/>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h1 id="headlineText">GTA Hardcore Roleplay Server</h1>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h3 class="animated pulse slow infinite">Du stehst nicht auf unserer Whitelist!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h4>Besuche https://gta.whooza-tv.de, um Dich zu informieren.</h4>
        </div>
    </div>
</div>