﻿@import url('/lib/bootstrap/css/bootstrap.min.css');

@font-face {
    font-family: 'pricedown';
    src: url('../font/pricedownbl.ttf') format('truetype');
}

body, html {
    -moz-user-select: None;
    -ms-user-select: None;
    -webkit-user-select: None;
    background-attachment: fixed;
    background-color: rgba(155, 155, 155, 0);
    background-image: url(/images/background/backgroundError.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#defaultCtn {
    background-color: rgba(0, 0, 0, .5);
    background-image: linear-gradient(to top, rgba(255, 0, 0, .5), rgba(0, 0, 0, .5));
    border: .25vw solid silver;
    border-radius: 10px;
    height: auto;
    margin-top: 10vh;
    padding: 2vw;
    width: 60vw;
}

h1 {
    color: royalblue;
    font-family: pricedown;
    font-size: 3vw;
    margin-bottom: 3vh;
    text-shadow: .3vw .3vw .3vw black;
}

h3 {
    color: orange;
    font-size: 2vw;
    text-shadow: .2vw .2vw .2vw black;
}

h4 {
    color: silver;
    font-family: Impact;
    font-size: 1.5vw;
    text-shadow: .15vw .15vw .15vw black;
}

.row { margin: 2.5% auto 2.5% auto; }

#headline {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, .6), rgba(0, 0, 0, .6));
    border: 2px solid white;
    border-radius: 1000px;
    margin: auto auto 2.5% auto;
    padding: 10px;
}

#headlineText {
    color: royalblue;
    font-family: pricedown;
}

#banInfo {
    border-bottom: 1px dashed white;
    border-top: 1px dashed white;
    padding: 20px;
}

#silver { color: silver; }

#black {
    color: black;
    text-shadow: 1px 1px grey;
}

img {
    height: auto;
    width: 50%;
}