﻿@import url('/lib/bootstrap/css/bootstrap.min.css');

@import url('/lib/animate/animate.min.css');

body, html {
    -moz-user-select: None;
    -ms-user-select: None;
    -webkit-user-select: None;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-row {
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
    display: flex;
    height: 2vh;
    width: auto;
}

.footer {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
    bottom: 0;
    display: flex;
    height: 2vh;
    left: 0;
    position: fixed;
    width: 100%;
}

#hudCtn {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#dmgHud {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}

#hitMark {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}

#sackHud {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}

#voiceCtn {
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 10px;
    width: 50px;
}

    #voiceCtn img {
        height: auto;
        width: 100%;
    }

#statCtn {
    left: 10px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 12.5px;
    width: 250px;
}

    #statCtn img {
        height: auto;
        width: 40px;
    }

.content {
    background-image: url(/images/background/dmgHud.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#kmDisplay {
    width: 90px;
    position: fixed;
    right: 518px;
    bottom: 50px;
    border: 2px solid rgba(128,128,128,.75);
    border-radius: 10px;
    font-size: 15px;
    font-family: impact;
    color: white;
}

#speedoWindow {
    bottom: -30px;
    position: fixed;
    right: 450px;
    text-shadow: 1px 1px 1px black;
}

#fuelWindow {
    bottom: 20px;
    position: fixed;
    right: 500px;
    text-shadow: 1px 1px 1px black;
}

#progressBarRow {
    background-color: rgba(0, 0, 0, .5);
    border: .1vw solid black;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0 25vw 0 25vw;
    padding: .5vw;
}

    #progressBarRow .col {
        color: rgb(223, 176, 61);
        text-shadow: 1px 1px 2px black;
        border: .1vw solid black;
        padding: 0;
    }

#leftMsgCtn {
    position: fixed;
    top: 20vh;
    left: 0;
    height: 60vh;
    width: 15vw;
    padding: 0;
}

#rightMsgCtn {
    position: fixed;
    top: 20vh;
    right: 0;
    height: 60vh;
    width: 12.5vw;
    padding: 0;
}

#leftMsg0, #leftMsg1, #leftMsg2, #leftMsg3, #leftMsg4, #leftMsg5, #leftMsg6, #leftMsg7, #leftMsg8, #leftMsg9 {
    width: 100%;
    border-right: 3px solid rgba(223, 176, 61, .5);
    border-radius: 0 10px 10px 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
}

#rightMsg0, #rightMsg1, #rightMsg2, #rightMsg3, #rightMsg4 {
    width: 100%;
    border: 2px solid rgba(223, 176, 61, .5);
    border-right: none;
    border-radius: 10px 0 0 10px;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
}

.toast-header {
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(150, 80, 20, .5));
    color: rgb(223, 176, 61);
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid silver;
}

.toast-body {
    background-image: none;
    background-color: rgba(0, 0, 0, .25);
    text-shadow: 1px 1px 1px black;
    color: silver;
}