﻿@page "/ClothingSpawner/{Social}"
@inject ClothingSpawnerService ClothingSpawnerService

<div class="container" id="clothingSpawnerCtn">
    <div class="row">
        <div class="col-2">
            <div class="btn-group" role="group" aria-label="Drawable" id="clothingSpawnerBtnGrp">
                <button @onclick="@(() => ClothingSpawnerService.ChangeGender(Social, "male"))" type="button" class="btn btn-secondary" style="border-radius: 100vw">M</button>
                &nbsp;
                <button @onclick="@(() => ClothingSpawnerService.ChangeGender(Social, "female"))" type="button" class="btn btn-secondary" style="border-radius: 100vw">W</button>
            </div>
        </div>
        <div class="col text-center">
            <h1>ClothingSpawner</h1>
        </div>
        <div class="col-2">
            <button id="closeWndBtn" @onclick="@(() => ClothingSpawnerService.CloseClothingSpawner(Social))"><i class="fas fa-window-close"></i></button>
        </div>
    </div>
    <hr />
    @foreach (var item in ClothingSpawnerService.Slots)
    {
        <div class="row">
            <div class="col-5 text-left">
                <h5>@item.Key</h5>
            </div>
            <div class="col text-center">
                <div class="btn-group" role="group" aria-label="Drawable" id="clothingSpawnerBtnGrp">
                    <button @onclick="@(() => ClothingSpawnerService.ChangeDrawable(Social, item.Value, false))" type="button" class="btn btn-secondary">
                        <i class="fas fa-arrow-circle-left"></i>
                    </button>
                    &nbsp;<h5>@ClothingSpawnerService.Values.First(x => x.Slot == item.Value).Drawable</h5>&nbsp;
                    <button @onclick="@(() => ClothingSpawnerService.ChangeDrawable(Social, item.Value, true))" type="button" class="btn btn-secondary">
                        <i class="fas fa-arrow-circle-right"></i>
                    </button>
                </div>
            </div>
            <div class="col">
                <div class="btn-group" role="group" aria-label="Drawable" id="clothingSpawnerBtnGrp">
                    <button @onclick="@(() => ClothingSpawnerService.ChangeTexture(Social, item.Value, false))" type="button" class="btn btn-secondary">
                        <i class="fas fa-arrow-circle-left"></i>
                    </button>
                    &nbsp;<h5>@ClothingSpawnerService.Values.First(x => x.Slot == item.Value).Texture</h5>&nbsp;
                    <button @onclick="@(() => ClothingSpawnerService.ChangeTexture(Social, item.Value, true))" type="button" class="btn btn-secondary">
                        <i class="fas fa-arrow-circle-right"></i>
                    </button>
                </div>
            </div>
            <div class="col-1">
                <span @onclick="@(() => ClothingSpawnerService.ResetSlot(Social, item.Value))" class="badge badge-primary badge-pill" style="background-color: orange;">
                    <i class="fas fa-undo"></i>
                </span>
            </div>
        </div>
    }
    <hr/>
    <div class="row">
        <div class="col">
            <div class="btn-group" role="group" aria-label="Drawable" id="clothingSpawnerBtnGrp">
                <button @onclick="@(() => ClothingSpawnerService.RotateCharacter(Social, false))" type="button" class="btn btn-secondary" style="border-radius: 100vw">
                    <i class="fas fa-arrow-circle-left"></i>
                </button>
                &nbsp;
                <button @onclick="@(() => ClothingSpawnerService.RotateCharacter(Social, true))" type="button" class="btn btn-secondary" style="border-radius: 100vw">
                    <i class="fas fa-arrow-circle-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>

@code{

[Parameter] public string Social { get; set; }

protected override void OnInit()
{
ClothingSpawnerService.OnChange += StateHasChanged;
ClothingSpawnerService.OnInit();
}

}