﻿@page "/ItemSpawner/{Social}"
@inject ItemSpawnerService ItemSpawnerService

<div class="container" id="mapMarkCtn">
    <div class="row">
        <div class="col-1"></div>
        <div class="col text-center">
            <h1>ItemSpawner</h1>
        </div>
        <div class="col-1">
            <button id="closeWndBtn" @onclick="@(() => ItemSpawnerService.CloseItemSpawner(Social))"><i class="fas fa-window-close"></i></button>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Item Typen
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @foreach (var item in ItemSpawnerService.ItemTypes)
                    {
                        <a class="dropdown-item" @onclick="@(() => ItemSpawnerService.SortItemList(item.Value))">@item.Key</a>
                    }
                </div>
            </div>
        </div>
        <div class="col">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Waffen Typen
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @foreach (var item in ItemSpawnerService.WeaponTypes)
                    {
                        <a class="dropdown-item" @onclick="@(() => ItemSpawnerService.SortWeaponList(item.Value))">@item.Key</a>
                    }
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            <div class="list-group" id="mapMarkListGroup">
                @foreach (var item in ItemSpawnerService.SelectedItems)
                {
                    <button @onclick="@(() => ItemSpawnerService.GiveItem(Social, (int) item.ItemName))" id="mapMarkListButton" type="button" class="list-group-item list-group-item-action">@(item.DisplayedName)</button>
                }
            </div>
        </div>
        <div class="col">
            <div class="list-group" id="mapMarkListGroup">
                @foreach (var item in ItemSpawnerService.SelectedWeapons)
                {
                    <button @onclick="@(() => ItemSpawnerService.GiveWeapon(Social, item.DisplayedName))" id="mapMarkListButton" type="button" class="list-group-item list-group-item-action">@(item.DisplayedName)</button>
                }
            </div>
        </div>
    </div>
</div>

@code{

[Parameter] public string Social { get; set; }

protected override void OnInit()
{
ItemSpawnerService.OnChange += StateHasChanged;
ItemSpawnerService.OnInit();
}

}