﻿@page "/LocationTeleporter/{Social}"
@inject LocationTeleporterService LocationTeleporterService

<div class="container" id="locTeleportCtn">
    <div class="row">
        <div class="col-1"></div>
        <div class="col text-center">
            <h1>Location Teleporter</h1>
        </div>
        <div class="col-1">
            <button id="closeWndBtn" @onclick="@(() => LocationTeleporterService.CloseTeleporter(Social))"><i class="fas fa-window-close"></i></button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <div class="list-group" id="mapMarkListGroup">
                @foreach (var (Key, Value) in LocationTeleporterService.LocationList)
                {
                    <hr/>
                    <div class="row">
                        <div class="col-8 text-center">
                            <button type="button" class="list-group-item list-group-item-action" @onclick="@(() => LocationTeleporterService.TeleportToLocation(Social, Key))">@Key</button>
                        </div>
                        <div class="col-4">
                            <!--
                            foreach (var item in LocationTeleporterService.InteriorPropList[Key])
                            {
                            foreach (var (PropK, PropV) in item)
                            {
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="PropK" onchange="(eventArgs => LocationTeleporterService.CheckboxClicked(PropK, (bool)eventArgs.Value))" />
                                <label class="custom-control-label" for="PropK">PropK</label>
                            </div>
                            }
                            }
                            -->

                        </div>
                    </div>
                    <hr/>
                }
            </div>
        </div>
    </div>
</div>

@code{

[Parameter] string Social { get; set; }

}