﻿@page "/MapMarkEditor/{Social}"
@inject MapMarkEditorService MapMarkEditorService

<div class="container" id="mapMarkCtn">
    <div class="row">
        <div class="col-1"></div>
        <div class="col text-center">
            <h1>MapMarkEditor</h1>
        </div>
        <div class="col-1">
            <button id="closeWndBtn" @onclick="@(() => MapMarkEditorService.CloseMapMarkEditor(Social))"><i class="fas fa-window-close"></i></button>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            <div class="dropdown">
                <button id="mapMarkDropDown" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong style="color: black; text-shadow: 0 0 3px white;">MarkSystem-Funktionen</strong>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" @onclick="@(() => MapMarkEditorService.ReloadMarks(Social))">Marker neuladen</a>
                    <a class="dropdown-item" @onclick="@(() => MapMarkEditorService.ReloadDumpsters(Social))">Container neuladen</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="dropdown">
                <button id="mapMarkDropDown" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong style="color: black; text-shadow: 0 0 3px white;">Spieler-Funktionen</strong>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" @onclick="@(() => MapMarkEditorService.SpawnMappersCar(Social))">Auto spawnen</a>
                    <a class="dropdown-item" @onclick="@(() => MapMarkEditorService.RepairCar(Social))">Auto reparieren</a>
                    <a class="dropdown-item" @onclick="@(() => MapMarkEditorService.ResetBiology(Social))">Biologie resetten</a>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col text-right">
            <input @bind="@MapMarkEditorService.MarkToDelete" class="text-center" type="text" placeholder="hier Mark Id eingeben" id="mapMarkDelValue" />
        </div>
        <div class="col">
            <button class="btn btn-secondary" type="button" id="mapMarkDelBtn" @onclick="@(() => MapMarkEditorService.DeleteMark(Social))">Mark löschen</button>
        </div>
        <div class="col text-right">
            <input @bind="@MapMarkEditorService.DumpsterToDelete" class="text-center" type="text" placeholder="hier Container Id eingeben" id="mapMarkDelValue" />
        </div>
        <div class="col">
            <button class="btn btn-secondary" type="button" id="mapMarkDelBtn" @onclick="@(() => MapMarkEditorService.DeleteDumpster(Social))">Container löschen</button>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            <div class="list-group" id="mapMarkListGroup">
                @foreach (var item in MapMarkEditorService.Civilian)
                {
                    <button id="mapMarkListButton" type="button" class="list-group-item list-group-item-action" @onclick="@(() => MapMarkEditorService.CreateMark(Social, item.MarkFaction, item.MarkType))">@(item.MarkText)</button>
                }
            </div>
        </div>
        <div class="col">
            <div class="list-group" id="mapMarkListGroup">
                @foreach (var item in MapMarkEditorService.Farming)
                {
                    <button id="mapMarkListButton" type="button" class="list-group-item list-group-item-action" @onclick="@(() => MapMarkEditorService.CreateMark(Social, item.MarkFaction, item.MarkType))">@(item.MarkText)</button>
                }
            </div>
        </div>
        <div class="col">
            <div class="list-group" id="mapMarkListGroup">
                @foreach (var item in MapMarkEditorService.Processors)
                {
                    <button id="mapMarkListButton" type="button" class="list-group-item list-group-item-action" @onclick="@(() => MapMarkEditorService.CreateMark(Social, item.MarkFaction, item.MarkType))">@(item.MarkText)</button>
                }
            </div>
        </div>
        <div class="col">
            <div class="list-group" id="mapMarkListGroup">
                @foreach (var item in MapMarkEditorService.Faction)
                {
                    <button id="mapMarkListButton" type="button" class="list-group-item list-group-item-action" @onclick="@(() => MapMarkEditorService.CreateMark(Social, item.MarkFaction, item.MarkType))">@(item.MarkText)</button>
                }
            </div>
        </div>
    </div>
</div>

@code{

[Parameter] public string Social { get; set; }

protected override void OnInit()
{
MapMarkEditorService.OnChange += StateHasChanged;
MapMarkEditorService.OnInit();
}

}