﻿@page "/Cityhall/{Social}"
@inject CityHallService CityHallService

<div class="container" id="cityHallCtn">
    <div class="row">
        <div class="col-1"></div>
        <div class="col text-center">
            <h1>Rathaus der Stadt Los Santos</h1>
        </div>
        <div class="col-1">
            <button id="closeWndBtn" @onclick="@(() => CityHallService.CloseCityHall(Social))"><i class="fas fa-window-close"></i></button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col text-center">
            <h3 id="cityHallWelcome">Willkommen im Rathaus!</h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col text-center">
            <p id="cityHallInfoOne">Hier können Sie Ihren Personalausweis beantragen. Die Mitführung dieses Dokuments ist eine gesetzlich geregelte Pflicht.</p>
            <p id="cityHallInfoOne">Für die Ausstellung wird eine Pauschale in Höhe von 75 Dollar fällig. Durch unsere neuste Drucktechnik bekommen Sie Ihren Personalausweis sofort nach Beantragung ausgestellt.</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col text-center">
            <p id="cityHallInfoTwo">
                Bitte geben Sie zum Abgleich Ihrer Daten Ihre Personalien auf der linken Seite an und bestätigen Sie die
                Beantragung auf der rechten Seite.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="firstNameInput">Ihr Vorname</label>
                <input @bind="CityHallService.FirstName" type="text" class="form-control" id="nameInput" placeholder="Vornamen eingeben" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="lastNameInput">Ihr Nachname</label>
                <input @bind="CityHallService.LastName" type="text" class="form-control" id="nameInput" placeholder="Nachnamen eingeben" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="birthInput">Geburtsort</label>
                <input @bind="CityHallService.Nationality" type="text" class="form-control" id="birthInput" placeholder="Geburtort eingeben" />
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <button @onclick="@(() => CityHallService.GetIdentityCard(Social))">Ausweis ausstellen</button>
        </div>
        <div class="col">
            <button @onclick="@(() => CityHallService.CloseCityHall(Social))">Vorgang beenden</button>
        </div>
    </div>
</div>

@code{

    [Parameter] public string Social { get; set; }

    protected override void OnInit()
    {
        CityHallService.OnChange += StateHasChanged;
    }

}