﻿@page "/Jobcenter/{Social}"
@inject JobCenterService JobCenterService

<div class="container" id="jobcenterCtn">
    @if (SocialPayment)
    {
        <div class="row">
            <div class="col-1 text-center">
                <img src="/images/logoJobcenter.png" alt="WTV RPG" />
            </div>
            <div class="col-10 text-center">
                <h1>Jobcenter</h1>
            </div>
            <div class="col-1 text-center">
                <img src="/images/logoJobcenter.png" alt="WTV RPG" />
            </div>
        </div>
        <hr />
        <hr />
        <div class="row">
            <div class="col text-justify">
                <h5>@UserInterfaceTexts.JobCenterInfo</h5>
            </div>
            <div class="col text-center">
                <div class="row">
                    <div class="col">
                        <div class="dropdown">
                            <label for="bankSelector">Mein Konto</label>
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="bankSelector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Konto wählen
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" @onclick="@(() => JobCenterService.SetPaymentBank(0))">Fleeca Bank</a>
                                <a class="dropdown-item" @onclick="@(() => JobCenterService.SetPaymentBank(1))">Maze Bank</a>
                                <a class="dropdown-item" @onclick="@(() => JobCenterService.SetPaymentBank(2))">Union Depository</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button @onclick="@(() => JobCenterService.ActivateSocialPayment(Social))" id="jobcenterActivateBtn">Ich möchte soziale Leistungen beantragen</button>
                    </div>
                </div>
                @if (JobCenterService.ErrorMsg != string.Empty)
                {
                    <div class="row">
                        <div class="col">
                            <p style="color: red">@JobCenterService.ErrorMsg</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col text-justify">
                <h5>@UserInterfaceTexts.JobCenterPunish</h5>
            </div>
            <div class="col text-center">
                <button @onclick="@(() => JobCenterService.DeactivateSocialPayment(Social))" id="jobcenterDeactivateBtn">Ich möchte soziale Leistungen abmelden</button>
            </div>
        </div>
        <hr />
        <hr />
        <div class="row">
            <div class="col text-center">
                <button @onclick="@(() => JobCenterService.CloseJobCenter(Social))">Vorgang beenden</button>
            </div>
        </div>
    }
    else if (JobOffers)
    {
        <h1>In Wartung</h1>
    }
    else
    {
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Arbeitsangebote
                    </div>
                    <div class="card-img">
                        <img src="images/logoWtv.png" />
                    </div>
                    <div class="card-footer">
                        <button @onclick="@ShowJobOffers">zu den Stellen</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Soziale Leistungen
                    </div>
                    <div class="card-img">
                        <img src="images/logoWtv.png" />
                    </div>
                    <div class="card-footer">
                        <button @onclick="@ShowSocialPayment">zur Beantragung</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@code{

    [Parameter] public string Social { get; set; }

    private bool HomeScreen;
    private bool JobOffers;
    private bool JobAsComp;
    private bool JobAsWorker;
    private bool SocialPayment;

    protected override void OnInit()
    {
        JobCenterService.OnChange += StateHasChanged;
    }

    private void ShowHomeScreen()
    {
        HomeScreen = true;
        JobOffers = false;
        JobAsComp = false;
        JobAsWorker = false;
        SocialPayment = false;

        StateHasChanged();
    }

    private void ShowSocialPayment()
    {
        HomeScreen = false;
        JobOffers = false;
        JobAsComp = false;
        JobAsWorker = false;
        SocialPayment = true;

        StateHasChanged();
    }

    private void ShowJobOffers()
    {
        HomeScreen = false;
        JobOffers = true;
        JobAsComp = false;
        JobAsWorker = false;
        SocialPayment = false;

        StateHasChanged();
    }

}