﻿@page "/Banned/{Social}"
@inject BannedService BannedService

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <img src="/images/logoTGS.png" alt="TGS RPG" />
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div id="headline" class="col text-center">
            <h1 id="bannedHeadline">GTA Hardcore Roleplay Server</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col text-center animated pulse infinite">
            <h3 id="bannedInfo">Du bist auf Zeit vom Server gebannt!</h3>
        </div>
    </div>
    <div id="banInfo" class="row">
        <div class="col text-center">
            <h5 id="silver">
                <strong id="bannedReason">Banngrund: </strong>@BannedService.BanInfo.BanReason
            </h5>
            <h5 id="silver">
                <strong id="bannedReason">Gebannt bis: </strong>@BannedService.BanInfo.BanTime
            </h5>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col text-center">
            <h3 id="bannedKickInfo">Du wirst vom Server gekickt!</h3>
        </div>
    </div>
</div>

@code{

    [Parameter] public string Social { get; set; }

    protected override void OnInit()
    {
        BannedService.OnChange += StateHasChanged;
        BannedService.GetBanInfo(Social);
    }

}