﻿@page "/Login/{Social}"
@inject LoginService LoginService

<div class="row" id="loginRow">
    @if (LoginService.ShowPatchNotes)
    {
        <div class="container" id="loginPnCtn">
            <LastPatchnotes/>
        </div>
    }
    <div class="container" id="loginCtn">
        <img id="loginLogo" src="/images/logoTGS.png" alt="TGS RPG"/>
        <hr/>
        <div class="col text-center">
            <h5 class="animated pulse slower infinite" id="loginHeadline">Willkommen zurück!</h5>
        </div>
        <div class="row">
            <div class="col text-center">
                <hr/>
                <input @bind="LoginService.UserPass" type="password" class="form-control text-center" placeholder="Passwort" required autofocus/>
                <button @onclick="@(() => LoginService.LoginPlayer(Social))" type="button" id="loginButton">Einloggen</button>
                <p style="color: wheat">
                    <em>@LoginService.LoginErrorMsg</em>
                </p>
            </div>
        </div>
        @if (LoginService.Info != null)
        {
            <div class="row">
                <div class="col text-center" style="background-color: rgba(0, 0, 0, .5)">
                    <p style="color: royalblue">
                        <strong>@LoginService.Info.Head</strong>
                    </p>
                    <p style="color: orange">@LoginService.Info.Body</p>
                    <p style="color: silver; text-shadow: 0 0 2px black">
                        <em>@LoginService.Info.CreationDate</em>
                    </p>
                </div>
            </div>
        }
        <hr/>
        <button @onclick="@(() => LoginService.SwitchShowPatchNotes())" class="btn btn-secondary" type="button">zeige Patchnotes</button>
        <hr/>
    </div>
    @if (LoginService.ShowPatchNotes)
    {
        <div class="container" id="loginPnCtn">
            <CurrentPatchnotes/>
        </div>
    }
</div>

@code{

[Parameter] public string Social { get; set; }

protected override void OnInit()
{
LoginService.OnChange += StateHasChanged;
LoginService.LoadInfos(Social);
}

}