﻿@page "/Register/{Social}"
@inject RegisterService RegisterService

<div class="container" style="width: 25vw;">
    <div class="row">
        <div class="col text-center">
            <img id="profile-img" class="profile-img-card" src="/images/logoTGS.png"/>
            <p id="profile-name" class="profile-name-card"></p>
            <h5>Accounterstellung</h5>
            <hr/>
            <input @bind="RegisterService.PassOne" type="password" oninput="@RegisterService.ResetErrors" class="form-control text-center" placeholder="Account-Passwort eingeben" required autofocus/>
            <p style="color: red">@RegisterService.PassOneError</p>
            <input @bind="RegisterService.PassTwo" type="password" oninput="@RegisterService.ResetErrors" class="form-control text-center" placeholder="Account-Passwort wiederholen" required/>
            <p style="color: red">@RegisterService.PassTwoError</p>
            <hr/>
            <button @onclick="@(() => RegisterService.RegisterPlayer(Social))" class="btn btn-secondary" type="button" id="registerButton">Account erstellen</button>
            <p style="color: red">@RegisterService.RegisterMsg</p>
        </div>
    </div>
</div>

@code{

[Parameter] public string Social { get; set; }

protected override void OnInit()
{
RegisterService.OnChange += StateHasChanged;
}

}