﻿@page "/Inventory/{Social}"
@inject InventoryService InventoryService

<div class="container" id="inventoryCtn">
    <div class="row" id="inventoryHeadlineRow">
        <div class="col-1"></div>
        <div class="col text-center">
            <h1>Spielerinventar</h1>
        </div>
        <div class="col-1">
            <button id="closeWndBtn" @onclick="@(() => InventoryService.CloseInventory(Social))"><i class="fas fa-window-close"></i></button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col text-center">
            <label for="inventoryUl" style="color: silver"><i class="fas fa-weight-hanging" style="color: grey">&nbsp;</i>
                <strong style="color: white;">@(InventoryService.Weight.ToString("0.0"))</strong> / 100
            </label>
            <ul class="list-group" role="group" aria-label="...">
                @foreach (var (key, value) in InventoryService.PlayerInvDic)
                {
                    var iconName = IconCfg.IconsConfig.First((x => x.Key == value.ItemType)).Value;

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <i class="fas @iconName"></i>
                        <span><strong style="color: grey;">@(key.Amount)x </strong><strong>@value.DisplayedName</strong><em style="color: grey;"> - @(value.Description)</em></span>
                        <span>
                            <span class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary" id="silverBtn" @onclick="@(() => InventoryService.UseItem(Social, key.Item))"><i class="fas fa-play"></i></button>
                                <button type="button" class="btn btn-secondary" id="silverBtn" @onclick="@(() => InventoryService.DestroyItem(Social, key.Item))"><i class="fas fa-trash-alt"></i></button>
                                <button type="button" class="btn btn-secondary" id="silverBtn" @onclick="@(() => InventoryService.GiveItem(Social, key.Item))"><i class="fas fa-hand-paper"></i></button>
                            </span>
                        </span>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

@code{

    [Parameter] public string Social { get; set; }

    protected override void OnInit()
    {
        InventoryService.OnChange += StateHasChanged;
        InventoryService.OnInit(Social);
    }

}