﻿@page "/RecipeBook/{Social}"
@inject RecipeBookService RecipeBookService

<div class="container" id="recipeBookCtn">
    <div class="row">
        <div class="col text-center">
            <h1>Rezepte</h1>
        </div>
    </div>
    <hr/>
    <hr/>
    <div id="recipeCtnScoll">
        <div class="row">
            <div class="col-10" id="recipeMainCategoryScroll">
                <div class="row text-center">
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <hr/>
        <div class="row">
            <div class="col-2">
                <h5>Herstellung</h5>
            </div>
            <div class="col-10" id="recipeMainCategoryScroll">
                <div class="row text-center">
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <hr/>
        <div class="row">
            <div class="col-2">
                <h5>Herstellung</h5>
            </div>
            <div class="col-10" id="recipeMainCategoryScroll">
                <div class="row text-center">
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                    <div class="col" id="recipeCategoryIcon">
                        <img src="images/logoWtv.png"/>
                        <h5>Juwelierswaren</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code{

[Parameter] public string Social { get; set; }

protected override void OnInit()
{
RecipeBookService.OnChange += StateHasChanged;
}

}