﻿@page "/smartphone/{Social}"
@inject SmartPhoneService SmartPhoneService

<div class="container" id="smartPhoneBackCtn"></div>
<div class="container" id="smartPhoneFrontCtn"></div>
<div class="container" id="smartPhoneMainCtn" style="color: white;padding: 10px">
    <civ class="top-row text-center">
        <div class="row text-center">
            <div class="col text-center" style="margin: 1px;padding: 1px">
                <img src="images/smartphone/top-row/activCall.png" style="height: 20px;width: auto" />
            </div>
            <div class="col text-center" style="margin: 1px;padding: 1px">
                <img src="images/smartphone/top-row/activCall.png" style="height: 20px;width: auto" />
            </div>
            <div class="col text-center" style="margin: 1px;padding: 1px">
                <img src="images/smartphone/top-row/newMail.png" style="height: 20px;width: auto" />
            </div>
            <div class="col text-center" style="margin: 1px;padding: 1px">
                <img src="images/smartphone/top-row/receivingFull.png" style="height: 20px;width: auto" />
            </div>
            <div class="col text-center" style="margin: 1px;padding: 1px">
                <img src="images/smartphone/top-row/batteryHalf.png" style="height: 20px;width: auto" />
            </div>
            <div class="col text-center" style="margin: 1px;padding: 1px">
                <p style="font-size: 16px">@DateTime.Now.ToString("HH:mm")</p>
            </div>
        </div>
    </civ>
    @switch (SmartPhoneService.View)
    {
        case SmartPhoneViewEnums.HomeScreenView:
            <HomeScreen />
            break;
        case SmartPhoneViewEnums.ContactsView:
            <Contact />
            break;
        case SmartPhoneViewEnums.TelephoneView:
            <Telephone />
            break;
        case SmartPhoneViewEnums.ShortMessagesView:
            <ShortMessages />
            break;
        case SmartPhoneViewEnums.MessengerView:
            <Messenger />
            break;
        case SmartPhoneViewEnums.EMailView:
            <EMail />
            break;
        case SmartPhoneViewEnums.BrowserView:
            <Browser />
            break;
        case SmartPhoneViewEnums.NoticesView:
            <Notices />
            break;
    }
</div>
<div class="footer text-center">
    <div class="row text-center">
        <div class="col"></div>
        <div class="col">
            <div id="smartphoneHomeBtn"></div>
        </div>
        <div class="col"></div>
    </div>
</div>

@code{

    [Parameter] public string Social { get; set; }

    protected override void OnInit()
    {
        SmartPhoneService.OnChange += StateHasChanged;
        SmartPhoneService.Init(Social);
    }

}