﻿@page "/Atm/{Social}"
@inject AtmService AtmService

<div class="container" id="atmCtn">
    <div id="atmOutputRow">
        <div class="row" id="atmSystemInfo">
            <div class="col text-left">@AtmService.SystemInfo</div>
            <div class="col text-center"></div>
            <div class="col text-right">@AtmService.Version</div>
        </div>
        <div class="row text-center">
            <div class="col text-right">@AtmService.AtmOutput.Line1Col1</div>
            <div class="col text-center">@AtmService.AtmOutput.Line1Col2</div>
            <div class="col text-left">@AtmService.AtmOutput.Line1Col3</div>
        </div>
        <div class="row text-center">
            <div class="col text-right">@AtmService.AtmOutput.Line2Col1</div>
            <div class="col text-center">@AtmService.AtmOutput.Line2Col2</div>
            <div class="col text-left">@AtmService.AtmOutput.Line2Col3</div>
        </div>
        <div class="row text-center">
            <div class="col text-right">@AtmService.AtmOutput.Line3Col1</div>
            <div class="col text-center">@AtmService.AtmOutput.Line3Col2</div>
            <div class="col text-left">@AtmService.AtmOutput.Line3Col3</div>
        </div>
        <div class="row text-center">
            <div class="col text-right">@AtmService.AtmOutput.Line4Col1</div>
            <div class="col text-center">@AtmService.AtmOutput.Line4Col2</div>
            <div class="col text-left">@AtmService.AtmOutput.Line4Col3</div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-2" id="atmNumberFieldLeft">
            <div class="row text-center">
                <button @onclick="@(() => AtmService.SelectBank("Fleeca Bank", 0))" type="button" id="atmMenuBtnLeft">
                    <span>
                        <img src="images/logoFleecaBank.png" id="atmBankLogo" alt="Fleeca Bank" />
                    </span>
                </button>
            </div>
            <div class="row text-center">
                <button @onclick="@(() => AtmService.SelectBank("Maze Bank", 1))" type="button" id="atmMenuBtnLeft">
                    <span>
                        <img src="images/logoMazeBank.png" id="atmBankLogo" alt="Maze Bank" />
                    </span>
                </button>
            </div>
            <div class="row text-center">
                <button @onclick="@(() => AtmService.SelectBank("Union Depository", 2))" type="button" id="atmMenuBtnLeft">
                    <span>
                        <img src="images/logoUnionDepository.png" id="atmBankLogo" alt="Union Depo" />
                    </span>
                </button>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col text-center" id="atmNumberField">
            <div class="row mx-auto">
                <div class="col text-center">
                    <button @onclick="@(() => AtmService.SendNumber(1))" type="button" id="atmNumberButton">1</button>
                </div>
                <div class="col text-center">
                    <button @onclick="@(() => AtmService.SendNumber(2))" type="button" id="atmNumberButton">2</button>
                </div>
                <div class="col text-center">
                    <button @onclick="@(() => AtmService.SendNumber(3))" type="button" id="atmNumberButton">3</button>
                </div>
            </div>
            <div class="row mx-auto">
                <div class="col text-center">
                    <button @onclick="@(() => AtmService.SendNumber(4))" type="button" id="atmNumberButton">4</button>
                </div>
                <div class="col text-center">
                    <button @onclick="@(() => AtmService.SendNumber(5))" type="button" id="atmNumberButton">5</button>
                </div>
                <div class="col text-center">
                    <button @onclick="@(() => AtmService.SendNumber(6))" type="button" id="atmNumberButton">6</button>
                </div>
            </div>
            <div class="row mx-auto">
                <div class="col text-center">
                    <button @onclick="@(() => AtmService.SendNumber(7))" type="button" id="atmNumberButton">7</button>
                </div>
                <div class="col text-center">
                    <button @onclick="@(() => AtmService.SendNumber(8))" type="button" id="atmNumberButton">8</button>
                </div>
                <div class="col text-center">
                    <button @onclick="@(() => AtmService.SendNumber(9))" type="button" id="atmNumberButton">9</button>
                </div>
            </div>
            <div class="row mx-auto">
                <div class="col text-center">
                    <button type="button" id="atmNumberButton">
                        <span class="oi oi-chevron-left"></span>
                    </button>
                </div>
                <div class="col text-center">
                    <button @onclick="@(() => AtmService.SendNumber(0))" type="button" id="atmNumberButton">0</button>
                </div>
                <div class="col text-center">
                    <button type="button" id="atmNumberButton">
                        <span class="oi oi-check"></span>
                    </button>
                </div>
            </div>
            <div class="row mx-auto">
                <div class="col text-center">
                    <button @onclick="@(() => AtmService.ShowHomeScreen())" type="button" id="atmNumberButton">
                        <span class="oi oi-menu"></span>
                    </button>
                </div>
                <div class="col text-center">
                    <button @onclick="@(() => AtmService.CloseAtm(Social))" type="button" id="atmNumberButton">
                        <span class="oi oi-account-logout"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-2" id="atmNumberFieldRight">
            <div class="row text-center">
                <button @onclick="@(() => AtmService.SwitchAction(0))" id="atmMenuBtnRight">
                    <span>
                        <img src="images/atm/atmDeposit.png" id="atmActionLogo" alt="deposit" />
                    </span>
                </button>
            </div>
            <div class="row text-center">
                <button @onclick="@(() => AtmService.SwitchAction(1))" id="atmMenuBtnRight">
                    <span>
                        <img src="images/atm/atmWithdraw.png" id="atmActionLogo" alt="withdraw" />
                    </span>
                </button>
            </div>
            <div class="row text-center">
                <button @onclick="@(() => AtmService.SwitchAction(2))" id="atmMenuBtnRight">
                    <span>
                        <img src="images/atm/atmTransfer.png" id="atmActionLogo" alt="transfer" />
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

@code{

    [Parameter] public string Social { get; set; }

    protected override void OnInit()
    {
        AtmService.OnChange += StateHasChanged;
    }

}