﻿@inject SmartPhoneService SmartPhoneService

<div class="clockArea" style="margin: 30px 0 20px 0 ;padding: 10px">
    <div class="row">
        <div class="col text-center">
            <h2>@DateTime.Now.ToString("HH:mm")</h2>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a>@DateTime.Today.ToString("dd.MM.yyyy")</a>
        </div>
    </div>
</div>
<div class="iconArea" style="padding: 10px">
    <div class="row text-center" style="margin-bottom: 1px">
        <div class="col text-center" style="margin: 1px;padding: 10px"><img src="images/smartphone/Apps/phone.png" @onclick="@(() => SmartPhoneService.SwitchView(SmartPhoneViewEnums.TelephoneView))" /></div>
        <div class="col text-center" style="margin: 1px;padding: 10px"><img src="images/smartphone/Apps/browser.png" @onclick="@(() => SmartPhoneService.SwitchView(SmartPhoneViewEnums.BrowserView))" /></div>
        <div class="col text-center" style="margin: 1px;padding: 10px"><img src="images/smartphone/Apps/contacts.png" @onclick="@(() => SmartPhoneService.SwitchView(SmartPhoneViewEnums.ContactsView))" /></div>
    </div>
    <div class="row text-center" style="margin-bottom: 1px">
        <div class="col text-center" style="margin: 1px;padding: 10px"><img src="images/smartphone/Apps/lawbook.png" @onclick="@(() => SmartPhoneService.SwitchView(SmartPhoneViewEnums.LawBookView))" /></div>
        <div class="col text-center" style="margin: 1px;padding: 10px"><img src="images/smartphone/Apps/mail.png" @onclick="@(() => SmartPhoneService.SwitchView(SmartPhoneViewEnums.EMailView))" /></div>
        <div class="col text-center" style="margin: 1px;padding: 10px"><img src="images/smartphone/Apps/messanger.png" @onclick="@(() => SmartPhoneService.SwitchView(SmartPhoneViewEnums.MessengerView))" /></div>
    </div>
    <div class="row text-center" style="margin-bottom: 1px">
        <div class="col text-center" style="margin: 1px;padding: 10px"><img src="images/smartphone/Apps/notes.png" @onclick="@(() => SmartPhoneService.SwitchView(SmartPhoneViewEnums.NoticesView))" /></div>
        <div class="col text-center" style="margin: 1px;padding: 10px"><img src="images/smartphone/Apps/settings.png" @onclick="@(() => SmartPhoneService.SwitchView(SmartPhoneViewEnums.SettingsView))" /></div>
        <div class="col text-center" style="margin: 1px;padding: 10px"><img src="images/smartphone/Apps/sms.png" @onclick="@(() => SmartPhoneService.SwitchView(SmartPhoneViewEnums.ShortMessagesView))" /></div>
    </div>
</div>

@code{ }