﻿@inject SmartPhoneService SmartPhoneService

<br />
<br />
<div class="row" style="border-bottom: 2px solid white">
    <div class="col text-center">X</div>
    <div class="col text-center">X</div>
    <div class="col text-center">X</div>
</div>



<div class="tab-content">
    <div id="phoneScreen" class="tab-pane active">
        <div class="numberArea">
            <div class="row" style="margin-bottom: 5px;">
                <div class="col" style="background-color: rgba(0, 0, 0, .25); border-radius: 100vw;margin-top: 5px">
                    <div class="row">
                        <div class="col">
                            123213213213
                        </div>
                        <div class="col-1"><i class="fas fa-arrow-circle-left"></i></div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <a style="font-size: 20px;">1</a>
                    <p style="font-size: 10px;"></p>
                </div>
                <div class="col">
                    <a style="font-size: 20px;">2</a>
                    <p style="font-size: 10px;">ABC</p>
                </div>
                <div class="col">
                    <a style="font-size: 20px;">3</a>
                    <p style="font-size: 10px;">DEF</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <a style="font-size: 20px;">4</a>
                    <p style="font-size: 10px;">GHI</p>
                </div>
                <div class="col">
                    <a style="font-size: 20px;">5</a>
                    <p style="font-size: 10px;">JKL</p>
                </div>
                <div class="col">
                    <a style="font-size: 20px;">6</a>
                    <p style="font-size: 10px;">MNO</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <a style="font-size: 20px;">7</a>
                    <p style="font-size: 10px;">PQRS</p>
                </div>
                <div class="col">
                    <a style="font-size: 20px;">8</a>
                    <p style="font-size: 10px;">TUV</p>
                </div>
                <div class="col">
                    <a style="font-size: 20px;">9</a>
                    <p style="font-size: 10px;">WXYZ</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <a style="font-size: 20px;">*</a>
                    <p style="font-size: 10px;"></p>
                </div>
                <div class="col">
                    <a style="font-size: 20px;">0</a>
                    <p style="font-size: 10px;">+</p>
                </div>
                <div class="col">
                    <a style="font-size: 20px;">#</a>
                    <p style="font-size: 10px;"></p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col"></div>
                <div class="col">Tele</div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    <div id="historyScreen" class="tab-pane fade">
        <h3>history</h3>
        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
        </ul>
    </div>
    <div id="contactsScreen" class="tab-pane fade">
        <h3>contact</h3>
    </div>
</div>