﻿@page "/Cooking/{Social}"
@inject CookingService CookingService

<div class="container" id="cookingCtn">
    <div class="row">
        <div class="col-3"></div>
        <div class="col text-center">
            @switch (CookingService.View)
            {
                case CookingViewEnums.ShowCategories:
                    <div class="row">
                        <div class="col text-center">
                            <h1>Küche - Hauptmenü</h1>
                        </div>
                    </div>
                    break;
                case CookingViewEnums.ShowMeat:
                    <div class="row">
                        <div class="col text-center">
                            <h1>
                                <em>- Fleisch-Rezepte -</em>
                            </h1>
                        </div>
                    </div>
                    break;
                case CookingViewEnums.ShowFish:
                    <div class="row">
                        <div class="col text-center">
                            <h1>
                                <em>- Fisch-Rezepte -</em>
                            </h1>
                        </div>
                    </div>
                    break;
                case CookingViewEnums.ShowFingerFood:
                    <div class="row">
                        <div class="col text-center">
                            <h1>
                                <em>- Fingerfood-Rezepte -</em>
                            </h1>
                        </div>
                    </div>
                    break;
                case CookingViewEnums.ShowSoftDrink:
                    <div class="row">
                        <div class="col text-center">
                            <h1>
                                <em>- Getränke-Rezepte -</em>
                            </h1>
                        </div>
                    </div>
                    break;
            }
        </div>
        <div class="col-3 text-center">
            <h5>Koch-Punkte: @(CookingService.PlayerCooking.CookingPoints)/6000</h5>
        </div>
    </div>
    <hr />
    @switch (CookingService.View)
    {
        case CookingViewEnums.ShowCategories:
            <div class="row" id="cookingCategoryList">
                <div class="col text-center" @onclick="@(() => CookingService.ChangeView(CookingViewEnums.ShowMeat))" id="cookingCategoryIcon">
                    <img src="images/cooking/logoMeat.png" />
                    <h5>Fleisch</h5>
                </div>
                <div class="col text-center" @onclick="@(() => CookingService.ChangeView(CookingViewEnums.ShowFish))" id="cookingCategoryIcon">
                    <img src="images/cooking/logoFish.png" />
                    <h5>Fisch</h5>
                </div>
                <div class="col text-center" @onclick="@(() => CookingService.ChangeView(CookingViewEnums.ShowFingerFood))" id="cookingCategoryIcon">
                    <img src="images/cooking/logoFingerFood.png" />
                    <h5>Fingerfood</h5>
                </div>
                <div class="col text-center" @onclick="@(() => CookingService.ChangeView(CookingViewEnums.ShowSoftDrink))" id="cookingCategoryIcon">
                    <img src="images/cooking/logoSoftdrink.png" />
                    <h5>Getränke</h5>
                </div>
            </div>
            break;
        case CookingViewEnums.ShowMeat:
            <CookingList Social="@Social" CookingCategory="CookingCategoryEnums.Meat" />
            break;
        case CookingViewEnums.ShowFish:
            <CookingList Social="@Social" CookingCategory="CookingCategoryEnums.Fish" />
            break;
        case CookingViewEnums.ShowFingerFood:
            <CookingList Social="@Social" CookingCategory="CookingCategoryEnums.FingerFood" />
            break;
        case CookingViewEnums.ShowSoftDrink:
            <CookingList Social="@Social" CookingCategory="CookingCategoryEnums.SoftDrink" />
            break;
    }
    <hr />
    @switch (CookingService.View)
    {
        case CookingViewEnums.ShowCategories:
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="btn btn-primary" id="cookingSingleCloseBtn" @onclick="@(() => CookingService.CloseCooking(Social))">Küche verlassen</div>
                </div>
                <div class="col"></div>
            </div>
            break;
        case CookingViewEnums.ShowMeat:
        case CookingViewEnums.ShowFish:
        case CookingViewEnums.ShowFingerFood:
        case CookingViewEnums.ShowSoftDrink:
            <div class="row">
                <div class="col"></div>
                <div class="col-3">
                    <div class="btn btn-primary" id="cookingBackBtn" @onclick="@(() => CookingService.ChangeView(CookingViewEnums.ShowCategories))">Zurück</div>
                </div>
                <div class="col-1">
                    <div class="btn btn-primary text-center" id="cookingInfoBtn" data-toggle="collapse" data-target="#recipeInfo">Info</div>
                </div>
                <div class="col-3">
                    <div class="btn btn-primary" id="cookingCloseBtn" @onclick="@(() => CookingService.CloseCooking(Social))">Verlassen</div>
                </div>
                <div class="col"></div>
            </div>
            break;
    }
</div>

@code{

    [Parameter] public string Social { get; set; }

    protected override void OnInit()
    {
        CookingService.OnChange += StateHasChanged;
        CookingService.OnInit(Social);
    }

}