﻿@page "/Processor/{Social}/{MarkName}"
@inject ProcessorService ProcessorService

<div class="container" id="processorCtn">
    <div class="row">
        <div class="col-1"></div>
        <div class="col text-center">
            <h1>@ProcessorService.ProcessorName</h1>
        </div>
        <div class="col-1">
            <button id="closeWndBtn" @onclick="@(() => ProcessorService.CloseProcessor(Social))"><i class="fas fa-window-close"></i></button>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            <ul class="list-group" id="processorRecipeList">
                @foreach (var item in ProcessorService.AvailableJobRecipes)
                {
                    <li class="list-group-item" id="processorRecipe">
                        <div class="row">
                            <div class="col-2 text-center">
                                <p>
                                    <strong>[Rezept]</strong>
                                </p>
                            </div>
                            <div class="col-2">
                                <em>Name:</em>
                            </div>
                            <div class="col-3">
                                <em>Materialien:</em>
                            </div>
                            <div class="col-3">
                                <em>Endprodukte:</em>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <img id="recipeLogo" src="/images/logoTGS2.png"/>
                            </div>
                            <div class="col-2">
                                <p>
                                    <strong id="cuttable">@item.RecipeName</strong>
                                </p>
                            </div>
                            <div class="col-3">
                                <ul class="list-group" id="processorMatsList">
                                    @foreach (var (MatsK, MatsV) in item.MatsList)
                                    {
                                        var cfg = ItemCfg.ItemConfig.First(x => x.ItemName == MatsK);

                                        <li class="list-group-item d-flex justify-content-between align-items-center" id="processorMatsItem">
                                            <a id="cuttable">@(MatsV)x&nbsp;<strong>@cfg.DisplayedName</strong></a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="col-3">
                                <ul class="list-group" id="processorMatsList">
                                    @foreach (var (ProcK, ProcV) in item.ProcessedList)
                                    {
                                        var cfg = ItemCfg.ItemConfig.First(x => x.ItemName == ProcK);

                                        <li class="list-group-item d-flex justify-content-between align-items-center" id="processorMatsItem">
                                            <a>@(ProcV)x&nbsp;<strong>@cfg.DisplayedName</strong></a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="col-2">
                                <button id="processorProcessBtn" @onclick="@(() => ProcessorService.StartProcessing(Social, item.RecipeName))">Herstellen</button>
                                <button id="processorAbortBtn" @onclick="@(() => ProcessorService.StopProcessing())">Abbrechen</button>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-2">
            <input @bind="ProcessorService.Amount" id="cookingAmountInput" type="number" min="1" max="100"/>
        </div>
        <div class="col">
            <div class="progress" id="cookingProcessBar">
                <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: @(ProcessorService.Progress + "%");" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">@ProcessorService.ProgressName</div>
            </div>
        </div>
        <div class="col-2">
            <p>In Produktion: @ProcessorService.WaitList Stk.</p>
        </div>
    </div>
</div>

@code{

[Parameter] public string Social { get; set; }
[Parameter] public string MarkName { get; set; }

protected override void OnInit()
{
ProcessorService.OnChange += StateHasChanged;
ProcessorService.Init(Social, MarkName);
}

}