﻿@page "/Trader/{Social}/{MarkType}"
@inject TraderShopService TraderShopService

<div class="container" id="traderCtn">
    <div class="row">
        <div class="col-1 text-center"></div>
        <div class="col text-center">
            <h1>@TraderShopService.TraderName</h1>
        </div>
        <div class="col-1 text-center">
            <button id="closeWndBtn" @onclick="@(() => TraderShopService.CloseTrader(Social))"><i class="fas fa-window-close"></i></button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col text-left">
            <h5>Inventar Spieler</h5>
            <hr />
        </div>
        <div class="col text-center">
            <h5>Aktuelle Preise</h5>
            <hr />
        </div>
        <div class="col text-right">
            <h5>Inventar Fahrzeug</h5>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <ul class="list-group" id="traderList">
                @if (TraderShopService.VehicleInventory == new List<VehicleInvItemModel>())
                {
                    <li style="text-align: center">Kein SpielerInventar gefunden</li>
                }
                else
                {
                    @foreach (var item in TraderShopService.PlayerInventory)
                    {
                        var cfg = ItemCfg.ItemConfig.First(x => (uint)x.ItemName == item.Item);

                        <li class="list-group-item d-flex justify-content-between align-items-center" @onclick="@(() => TraderShopService.SellItems("player", item.Item))">@(item.Amount)x @cfg.DisplayedName</li>
                    }
                }
            </ul>
        </div>
        <div class="col-4 text-center">
            @foreach (var item in TraderShopService.MarketPrices)
            {
                var cfg = ItemCfg.ItemConfig.First(x => (uint)x.ItemName == item.ItemName);

                <div class="row">
                    <div class="col">
                        <input id="traderPriceLeft" class="form-control" type="text" placeholder="@cfg.DisplayedName" readonly>
                    </div>
                    <div class="col-4">
                        <input id="traderPriceRight" class="form-control text-center" type="text" placeholder="@(item.CurrentPrice.ToString("0.00"))$" readonly>
                    </div>
                </div>
            }
            <hr />
            <div class="row">
                <div class="col">
                    <div id="traderBtnGrp" class="btn-group" role="group" aria-label="Basic example">
                        <button @onclick="@(() => TraderShopService.LowerTradeValue(10))" type="button" class="btn btn-secondary">-10</button>
                        <button @onclick="@(() => TraderShopService.LowerTradeValue(1))" type="button" class="btn btn-secondary">-1</button>
                    </div>
                </div>
                <div class="col text-center">
                    <h5 id="traderValue">@TraderShopService.TradeValue</h5>
                </div>
                <div class="col">
                    <div id="traderBtnGrp" class="btn-group" role="group" aria-label="Basic example">
                        <button @onclick="@(() => TraderShopService.RaiseTradeValue(1))" type="button" class="btn btn-secondary">+1</button>
                        <button @onclick="@(() => TraderShopService.RaiseTradeValue(10))" type="button" class="btn btn-secondary">+10</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <ul class="list-group">
                @if (TraderShopService.VehicleInventory == null)
                {
                    <li style="text-align: center">Kein Fahrzeug in der Nähe</li>
                }
                else
                {
                    foreach (var item in TraderShopService.VehicleInventory)
                    {
                        var cfg = ItemCfg.ItemConfig.First(x => (uint)x.ItemName == item.Item);

                        <li class="list-group-item d-flex justify-content-between align-items-center" @onclick="@(() => TraderShopService.SellItems("vehicle", item.Item))">@(item.Amount)x @cfg.DisplayedName</li>
                    }
                }
            </ul>
        </div>
    </div>
</div>

@code{

    [Parameter] public string Social { get; set; }
    [Parameter] public string MarkType { get; set; }

    protected override void OnInit()
    {
        TraderShopService.OnChange += StateHasChanged;
        TraderShopService.Init(Social, MarkType);
    }

}