﻿@page "/ClothingShop/{Social}"
@inject ClothingShopService ClothingShopService

<div class="container" id="clothingShopCtn">
    <div class="row">
        <div class="col text-center">
            <h2>Kleidungsladen</h2>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <button>
                        <i class="fas fa-arrow-circle-left"></i>
                    </button>
                </div>
                <div class="col text-center">
                    <h5>SlotName</h5>
                </div>
                <div class="col text-center">
                    <button>
                        <i class="fas fa-arrow-circle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            <label id="clothingShopLabel" for="shopCart">Warenkorb (Gesamtpreis: (ClothingShopService.Price.ToString("0.00"))$)</label>
            <ul class="list-group" id="shopCart">
                @foreach (var item in ClothingShopService.Cart)
                {
                    <li onclick="(() => ClothingShopService.RemoveFromCart(item.ItemName))" id="itemShopCartItem" class="list-group-item d-flex justify-content-between align-items-center">
                        <a>item.Amount</a>
                        <strong>item.DisplayedName</strong>
                        <span id="itemShopBadge" class="badge badge-primary badge-pill">((item.Price * item.Amount).ToString("0.00"))$</span>
                    </li>
                }
            </ul>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">

        </div>
    </div>

</div>

@code{

[Parameter] public string Social { get; set; }

protected override void OnInit()
{
ClothingShopService.OnChange += StateHasChanged;
}

}