﻿@page "/HairCutShop/{Social}"
@inject HairCutShopService HairCutShopService

<div class="container" id="hairCutShopCtn">
    <div class="row">
        <div class="col text-center">
            <h1>Friseur</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <ul class="list-group" id="hairCutShopList">
                @switch (HairCutShopService.View)
                {
                    case HairCutViewEnums.Startscreen:
                        <li class="list-group-item d-flex justify-content-between align-items-center" @onclick="@(() => HairCutShopService.SwitchView(HairCutViewEnums.HairCutView))"><strong>Haarschnitt</strong></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" @onclick="@(() => HairCutShopService.SwitchView(HairCutViewEnums.BeardView))"><strong>Bartschnitt</strong></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" @onclick="@(() => HairCutShopService.SwitchView(HairCutViewEnums.EyeBrownView))"><strong>Augenbraun</strong></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" @onclick="@(() => HairCutShopService.SwitchView(HairCutViewEnums.MakeupView))"><strong>Makeup</strong></li>
                        break;
                    case HairCutViewEnums.HairCutView:
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: rgba(128, 128, 128, .2);color: white">
                            <strong>Haarschnitt</strong>
                            <i class="fas fa-undo"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <i class="fas fa-arrow-circle-left"></i>
                            <span>Schnitt</span>
                            <i class="fas fa-arrow-circle-right"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <i class="fas fa-arrow-circle-left"></i>
                            <span>Farbe I</span>
                            <i class="fas fa-arrow-circle-right"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <i class="fas fa-arrow-circle-left"></i>
                            <span>Farbe II</span>
                            <i class="fas fa-arrow-circle-right"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: rgba(255,0,0,.2);color: white" @onclick="@(() => HairCutShopService.SwitchView(HairCutViewEnums.Startscreen))"><strong>zurück</strong></li>
                        break;
                    case HairCutViewEnums.BeardView:
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: rgba(128, 128, 128, .2);color: white">
                            <strong>Bartschnitt</strong>
                            <i class="fas fa-undo"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <i class="fas fa-arrow-circle-left"></i>
                            <span>Schnitt</span>
                            <i class="fas fa-arrow-circle-right"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <i class="fas fa-arrow-circle-left"></i>
                            <span>Farbe</span>
                            <i class="fas fa-arrow-circle-right"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: rgba(255,0,0,.2);color: white" @onclick="@(() => HairCutShopService.SwitchView(HairCutViewEnums.Startscreen))"><strong>zurück</strong></li>
                        break;
                    case HairCutViewEnums.EyeBrownView:
                        <li class="list-group-item d-flex justify-content-between align-items-center text-center" style="background-color: rgba(128, 128, 128, .2);color: white">
                            <strong>Augenbraun</strong>
                            <i class="fas fa-undo"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <i class="fas fa-arrow-circle-left"></i>
                            <span>Typ</span>
                            <i class="fas fa-arrow-circle-right"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <i class="fas fa-arrow-circle-left"></i>
                            <span>Farbe</span>
                            <i class="fas fa-arrow-circle-right"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: rgba(255,0,0,.2);color: white" @onclick="@(() => HairCutShopService.SwitchView(HairCutViewEnums.Startscreen))"><strong>zurück</strong></li>
                        break;
                    case HairCutViewEnums.MakeupView:
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: rgba(128, 128, 128, .2);color: white">
                            <strong>Makeup</strong>
                            <i class="fas fa-undo"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <i class="fas fa-arrow-circle-left"></i>
                            <span>Gesicht</span>
                            <i class="fas fa-arrow-circle-right"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <i class="fas fa-arrow-circle-left"></i>
                            <span>Lippenstift</span>
                            <i class="fas fa-arrow-circle-right"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <i class="fas fa-arrow-circle-left"></i>
                            <span>Lippenstiftfarbe</span>
                            <i class="fas fa-arrow-circle-right"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: rgba(255,0,0,.2);color: white" @onclick="@(() => HairCutShopService.SwitchView(HairCutViewEnums.Startscreen))"><strong>zurück</strong></li>
                        break;
                }
            </ul>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col text-center">
            <label id="itemShopLabel" for="hairCutShopCart">Rechnung - Gesamtpreis: 0.00$</label>
            <ul class="list-group" id="hairCutShopCart">
                <li id="itemShopCartItem" class="list-group-item d-flex justify-content-between align-items-center">
                    <strong id="cuttablee">DisplayedName</strong>
                    <span id="itemShopBadge" class="badge badge-primary badge-pill">0.00$</span>
                </li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <button id="silverBtn" @onclick="@(() => HairCutShopService.CloseHairCut(Social))"><i style="color:darkgreen" class="fas fa-check-square"></i></button>
        </div>
        <div class="col">
            <button id="silverBtn" @onclick="@(() => HairCutShopService.CloseHairCut(Social))"><i style="color:darkred" class="fas fa-window-close"></i></button>
        </div>
    </div>
</div>

@code{

    [Parameter] public string Social { get; set; }

    protected override void OnInit()
    {
        HairCutShopService.OnChange += StateHasChanged;
    }

}