﻿@page "/ItemShop/{Social}/{MarkName}"
@inject ItemShopService ItemShopService

<div class="container" id="itemShopCtn">
    <div class="row">
        <div class="col-1"></div>
        <div class="col text-center">
            <h1>@ItemShopService.MarkSetting.MarkText</h1>
        </div>
        <div class="col-1">
            <button id="closeWndBtn" @onclick="@(() => ItemShopService.CloseItemShop(Social))"><i class="fas fa-window-close"></i></button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-8">
            <label id="itemShopLabel" for="shopItemList">Angebot des Shops</label>
            <ul class="list-group" id="shopItemList">
                @foreach (var shopItem in ItemShopService.ShopItems)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center" @onclick="@(() => ItemShopService.AddToCart((uint) shopItem.ItemName))">
                        <span>
                            <img src="/images/logoTGS2.png" alt="TGS RPG" />
                        </span>
                        <span>
                            <strong>@shopItem.DisplayedName</strong><small> - @shopItem.Description</small>
                        </span>
                        <span id="itemShopBadge" class="badge badge-primary badge-pill">
                            @(shopItem.DefaultPrice.ToString("0.00"))$
                        </span>
                    </li>
                }
            </ul>
        </div>
        <div class="col-4">
            <label id="itemShopLabel" for="shopCart">Warenkorb (Gesamtpreis: @(ItemShopService.Price.ToString("0.00"))$)</label>
            <ul class="list-group" id="shopCart">
                @foreach (var item in ItemShopService.Cart)
                {
                    <li @onclick="@(() => ItemShopService.RemoveFromCart(item.ItemName))" id="itemShopCartItem" class="list-group-item d-flex justify-content-between align-items-center">
                        <a>@item.Amount</a>
                        <strong id="cuttablee">@item.DisplayedName</strong>
                        <span id="itemShopBadge" class="badge badge-primary badge-pill">@((item.Price * item.Amount).ToString("0.00"))$</span>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <div class="row">
                <div class="col">
                    <button @onclick="@(() => ItemShopService.ClearCart(Social))" id="itemShopClearButton">Warenkorb leeren</button>
                </div>
                <div class="col">
                    <button @onclick="@(() => ItemShopService.BuyCart(Social))" id="itemShopBuyButton">Gegenstände kaufen</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code{

    [Parameter] public string Social { get; set; }
    [Parameter] public string MarkName { get; set; }

    protected override void OnInit()
    {
        ItemShopService.OnChange += StateHasChanged;
        ItemShopService.OnInit(MarkName);
    }
}