@import url('/css/global.css');

/* banned */
#bannedHeadline {
    color: royalblue;
}

#bannedInfo {
    color: rgb(223, 176, 61);
    font-family: Impact;
}

#bannedKickInfo {
    color: darkred;
    font-family: Impact;
}

#bannedReason {
    color: silver;
}

/* login */
#loginCtn {
    padding: 1vw;
    width: 20vw;
}

#loginPnCtn {
    padding: 1vw;
    width: 30vw;
}

#loginPachNotes {
    height: 50vh;
    width: 100%;
    margin-bottom: 10px;
    max-height: 50vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(0, 0, 0, .5);
}

    #loginPachNotes h5 {
        color: rgb(223, 176, 61);
        font-weight: bold;
        text-align: center;
    }

    #loginPachNotes a {
        color: white;
        font-weight: bold;
        text-align: center;
    }

#loginButton {
    background-color: rgba(223, 176, 61, .6);
    border: 2px solid silver;
    border-radius: 5px;
}

    #loginButton:hover {
        background-color: rgba(223, 176, 61, 1);
    }

#registerCard {
    background-color: rgba(0, 0, 0, .5);
    border: .25vw solid silver;
    border-radius: 20px;
    padding: 1vw;
}

#registerButton {
    background-image: linear-gradient(to top, black, royalblue);
    border: 2px solid silver;
    width: 100%;
}

    #registerButton:hover {
        background-image: linear-gradient(to bottom, black, royalblue);
        color: darkgreen;
    }

/* charCreator */
#creatorTopRow {
    align-items: center;
    background-color: rgba(150, 80, 20, .2);
    border-bottom: 5px solid rgb(223, 176, 61);
    color: white;
    display: flex;
    font-size: 0.6rem;
    font-weight: bold;
    height: 5rem;
    position: fixed;
    text-align: center;
    text-shadow: 1px 1px black;
    top: 0;
    width: 100%;
    background-image: url('/images/backgroundDefault.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    #creatorTopRow .col-3 img {
        height: 4rem;
        width: auto;
    }

#creatorInfoRow {
    width: 100%;
}

#creatorLeftCard {
    background-color: rgba(150, 80, 20, .2);
    margin-top: 15vh;
    color: white;
}

    #creatorLeftCard .card-title {
        background-image: url('/images/backgroundDefault.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #creatorLeftCard .card-body {
        background-color: rgba(0, 0, 0, .2);
    }

    #creatorLeftCard .card-footer {
        background-image: url('/images/backgroundDefault.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

#creatorInput {
    width: 100%;
}

#charCreatorSettList {
    height: 45vh;
    max-height: 45vh;
}

#creatorFooter {
    align-items: center;
    background-color: rgba(150, 80, 20, .2);
    border-top: 5px solid rgb(223, 176, 61);
    bottom: 0;
    color: white;
    display: flex;
    font-size: 0.5rem;
    font-weight: bold;
    height: 5rem;
    position: fixed;
    text-align: center;
    text-shadow: 1px 1px black;
    width: 100%;
    background-image: url('/images/backgroundDefault.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#creatorFocusBtn {
    background-image: linear-gradient(to top, rgb(150, 80, 20), black);
    border: 2px solid grey;
    border-radius: 100%;
    height: 3rem;
    width: 5rem;
}

#creatorDiscard {
    background-image: linear-gradient(to top, red, black);
    border: 2px solid grey;
    border-radius: 100%;
    height: 3rem;
    width: 5rem;
}

#creatorRotation {
    background-image: linear-gradient(to bottom, rgb(223, 176, 61), black);
    border: 1px solid silver;
    border-radius: 100%;
    color: silver;
    height: 3rem;
    width: 7.5rem;
}

#creatorSumit {
    background-image: linear-gradient(to top, green, black);
    border: 2px solid grey;
    border-radius: 100%;
    height: 3rem;
    width: 5rem;
}

/* cityhall */
#cityHallCtn {
    background-image: url('/images/backgroundGoovernment.png');
}

#cityHallWelcome {
    color: rgb(223, 176, 61);
}

#cityHallInfoOne {
    color: wheat;
    font-family: Impact;
    text-shadow: 1px 1px 0 black;
}

#cityHallInfoTwo {
    color: black;
    text-shadow: 1px 1px 0 white;
}

#cityhallButton {
    border: 2px solid black;
    border-radius: 5px;
}

/* processor */
#processorCtn {
    background-image: url('/images/backgroundJob.png');
}

#processorProcessNumber {
    border: .2vw solid silver;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: auto;
    text-align: center;
    width: 100%;
}

#processorRecipe {
    height: 17.5vh;
    min-height: 17.5vh;
    max-height: 17.5vh;
    margin: .1vh 0 1vh 0;
}

#processorMatsItem {
    font-size: 1.25vh;
}

#processorProcessBtn {
    background-image: linear-gradient(to top, grey, silver);
    border: .2vw solid silver;
    color: green;
    font-weight: bold;
    height: auto;
    width: 100%;
}

#processorAbortBtn {
    background-image: linear-gradient(to top, grey, silver);
    border: .2vw solid silver;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: darkred;
    font-weight: bold;
    height: auto;
    width: 100%;
}

#processorMatsList {
    -webkit-overflow-scrolling: touch;
    background-color: rgba(0, 0, 0, .5);
    height: 10vh;
    max-height: 10vh;
    overflow-y: scroll;
    width: 100%;
}

    #processorMatsList li {
        height: 1.75vh;
    }

/* trader */
#traderCtn {
    background-image: url('/images/backgroundJob.png');
}

#traderPriceLeft {
    background-color: rgba(0, 0, 0, .5);
    border: .2vw solid rgb(175, 165, 125);
    border-bottom-left-radius: 100vw;
    border-top-left-radius: 100vw;
    font-weight: bold;
    margin-bottom: 10px;
}

#traderPriceRight {
    background-color: rgba(0, 0, 0, .5);
    border: .2vw solid yellowgreen;
    border-bottom-right-radius: 100vw;
    border-top-right-radius: 100vw;
    font-weight: bold;
    margin-bottom: 10px;
}

#traderValue {
    background-color: rgba(0, 0, 0, .5);
    border: 2px solid wheat;
    color: wheat;
    height: 100%;
    width: 100%;
}

#traderBtnGrp {
    border: 2px solid wheat;
}

/* inventory */

#inventoryCtn {
    width: 50vw;
}

#inventoryHeadlineRow {
    margin-bottom: 1vw;
}

#weightValue {
    color: silver;
}

/* mapMarkEditor */

#mapMarkCtn {
    background-image: url('/images/backgroundServerTeam.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#mapMarkListGroup {
    -webkit-overflow-scrolling: touch;
    background-color: rgba(255, 255, 255, .5);
    border: .2vw solid silver;
    height: 15vw;
    max-height: 15vw;
    overflow-y: scroll;
    width: 100%;
}

    #mapMarkListGroup button {
        background-color: rgba(255, 255, 255, .6);
        box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        min-height: 50px;
        width: 100%;
    }

#mapMarkDelBtn {
    background-image: url("../images/backgroundMetall.jpg");
    border: .1vw solid darkred;
    border-bottom-right-radius: 100vw;
    border-top-right-radius: 100vw;
    color: black;
    font-weight: bold;
    text-shadow: 0 0 3px red;
}

#mapMarkList {
    background-color: rgba(255, 255, 255, .6);
}

#mapMarkDelValue {
    background-color: rgba(255, 255, 255, .8);
    border: .1vw solid darkred;
    border-bottom-left-radius: 100vw;
    border-top-left-radius: 100vw;
    font-weight: bold;
    height: 100%;
    width: 100%;
}

#mapMarkCloseBtn {
    background-image: url("../images/backgroundMetall.jpg");
    border: .2vw solid silver;
    border-radius: 100vw;
    color: black;
    font-weight: bold;
}

#mapMarkDropDown {
    background-image: url("../images/backgroundMetall.jpg");
    border: .2vw solid silver;
}

/* itemShop */

#itemShopCtn {
    background-image: url('/images/backgroundShop.png');
}

#itemShopLabel {
    color: white;
    font-family: Impact;
    text-shadow: 0 0 3px black;
}

#itemShopClearButton {
    background-color: rgba(155, 155, 155, .6);
    border: .2vw solid grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(223, 176, 61);
    font-family: Impact;
    text-shadow: 0 0 3px black;
}

    #itemShopClearButton:hover {
        background-color: grey;
    }

#itemShopCloseButton {
    background-color: rgba(155, 155, 155, .6);
    border: .2vw solid grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: darkred;
    font-family: Impact;
    text-shadow: 0 0 3px white;
}

    #itemShopCloseButton:hover {
        background-color: grey;
    }

#itemShopBuyButton {
    background-color: rgba(155, 155, 155, .6);
    border: .2vw solid grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: darkgreen;
    font-family: Impact;
    text-shadow: 0 0 3px white;
}

    #itemShopBuyButton:hover {
        background-color: grey;
    }

#itemShopBadge {
    background-color: rgb(223, 176, 61);
}

#shopCart {
    -webkit-overflow-scrolling: touch;
    background-color: rgba(255, 255, 255, .5);
    border-bottom: .2vw dashed grey;
    border-top: .2vw dashed grey;
    box-shadow: 6px 6px 10px hsla(300, 15%, 25%, 0.3) inset;
    height: 300px;
    margin-bottom: 10px;
    max-height: 300px;
    overflow: scroll;
    width: 100%;
}

    #shopCart #itemShopCartItem {
        box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        height: 33px;
    }

/* vehicleBuy */

#vehBuyCard {
    background-color: rgba(0, 0, 0, .5);
    border: none;
}

#vehBuyBtn {
    background-color: rgba(0, 255, 0, .25);
    border: .1vw solid black;
    border-bottom-left-radius: 100vw;
    border-top-left-radius: 100vw;
    width: 100%;
}

#vehBuyCancelBtn {
    background-color: rgba(255, 0, 0, .25);
    border: .1vw solid black;
    border-bottom-right-radius: 100vw;
    border-top-right-radius: 100vw;
    width: 100%;
}

#vehicleBuyCloseBtn {
    background-image: url(/images/_otherBackgrounds/backgroundMetall.jpg);
    border: .2vw solid grey;
    border-radius: 100vw;
    font-weight: bold;
    width: 100%;
}

    #vehicleBuyCloseBtn:hover {
        border: .2vw solid darkred;
        color: darkred;
    }

#vehicleBuyLabel {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 0 black;
}

/* recipeBook */

#recipeBookCtn {
    background-image: url('/images/backgroundRecipeBook.png');
}

#recipeCtnScoll {
    -webkit-overflow-scrolling: touch;
    height: 50vh;
    max-height: 50vh;
    overflow-y: scroll;
    padding: 20px;
}

#recipeMainCategoryScroll {
    -webkit-overflow-scrolling: touch;
    background-image: linear-gradient(to top, rgba(155, 155, 155, .5), rgba(0, 0, 0, .5));
    max-height: 25vh;
    overflow: scroll;
}

#recipeCategoryIcon {
    background-color: rgba(155, 155, 155, .5);
    border: 2px solid silver;
    border-radius: 10px;
    margin: 1vw;
    padding: .5vw;
}

/* cooking */

#cookingCtn {
    background-image: url('/images/backgroundKitchen.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid grey;
}

#cookingCategoryList {
    background-color: rgba(0, 0, 0, .3);
    background-image: linear-gradient(to top, rgba(155, 155, 155, .5), rgba(0, 0, 0, .5));
    border-bottom: 3px solid royalblue;
    border-radius: 10px;
    border-top: 3px solid royalblue;
    height: 35vh;
}

#cookingCategoryIcon {
    background-image: linear-gradient(to bottom, rgba(155, 155, 155, .2), rgba(0, 0, 0, .2));
    border: 2px solid silver;
    border-radius: 10px;
    font-family: pricedown;
    margin: 1vw;
    padding: .5vw;
}

    #cookingCategoryIcon:hover {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, .4), rgba(0, 0, 0, .4));
        border: 2px solid rgb(223, 176, 61);
    }

#cookingListDiv {
    height: 35vh;
}

#cookingRecipeTable {
    -webkit-overflow-scrolling: touch;
    height: 100%;
    max-height: 100%;
    overflow: auto;
}

#cookingRecipeItem {
    background-color: rgba(255, 255, 255, .5);
    color: grey;
    font-family: impact;
}

#cookingSideDecorLeft {
    -webkit-border-bottom-left-radius: 25px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-top-right-radius: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
    border-left: 3px solid silver;
}

#cookingSideDecorRight {
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 25px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 25px;
    background-image: linear-gradient(to left, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
    border-right: 3px solid silver;
}

#cookingBackBtn {
    -webkit-border-bottom-left-radius: 100%;
    -webkit-border-top-left-radius: 100%;
    background-color: rgba(0, 0, 0, .5);
    border: 2px solid silver;
    text-align: right;
    width: 100%;
}

    #cookingBackBtn:hover {
        background-color: rgba(0, 0, 0, 1);
    }

#cookingInfoBtn {
    background-color: rgba(0, 0, 0, .5);
    border: 2px solid silver;
    text-align: right;
    width: 100%;
}

    #cookingInfoBtn:hover {
        background-color: rgba(0, 0, 0, 1);
    }

#cookingProcessBar {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 100vw;
    width: 100%;
}

#cookingCloseBtn {
    -webkit-border-bottom-right-radius: 100%;
    -webkit-border-top-right-radius: 100%;
    background-color: rgba(155, 0, 0, .5);
    border: 2px solid silver;
    text-align: left;
    width: 100%;
}

    #cookingCloseBtn:hover {
        background-color: rgba(155, 0, 0, 1);
    }

#cookingSingleCloseBtn {
    background-color: rgba(155, 0, 0, .5);
    border: 2px solid silver;
    border-radius: 100vw;
    font-family: impact;
    text-align: center;
    width: 100%;
}

    #cookingSingleCloseBtn:hover {
        background-color: rgba(155, 0, 0, 1);
    }

#cookingAmountInput {
    background-color: rgba(255, 255, 255, .5);
    border: none;
    text-align: center;
    width: 100%;
}

#cookingStartBtn {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .5), rgba(0, 0, 0, .5));
    border: 2px solid silver;
    border-radius: 100%;
    width: 100%;
}

/* atm */

#atmCtn {
    background-image: url('/images/backgroundMoney.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid grey;
    font-size: 1vw;
}

#atmOutputRow {
    background-color: black;
    border: 1px solid rgba(125, 125, 125, .8);
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px 10px rgba(155, 125, 125, .4);
    color: wheat;
    font-family: ring3d;
    height: 20vh;
    max-height: 20vh;
    padding: 25px;
    width: 100%;
}

#atmNumberField {
    background-image: url('/images/backgroundMetall.jpg');
    border: 1px solid rgba(125, 125, 125, .8);
    border-radius: 5px;
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

#atmNumberButton {
    background-image: url('/images/backgroundMetall.jpg');
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.75);
    font-family: impact;
    height: 2vw;
    margin: 10px;
    max-height: 2vw;
    max-width: 100%;
    width: 100%;
}

    #atmNumberButton:active {
        box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.8);
    }

#atmNumberFieldLeft {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    background-image: url('/images/backgroundMetall.jpg');
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

#atmMenuBtnLeft {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    background-image: url('/images/backgroundMetall.jpg');
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.75);
    font-family: impact;
    height: 3vw;
    margin: 20px 10px 20px 5px;
    max-height: 3vw;
    max-width: 100%;
    width: 100%;
}

    #atmMenuBtnLeft:active {
        border: 3px solid grey;
        box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.8);
    }

#atmNumberFieldRight {
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    background-image: url('/images/backgroundMetall.jpg');
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

#atmMenuBtnRight {
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    background-image: url('/images/backgroundMetall.jpg');
    border: 2px solid silver;
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.75);
    font-family: impact;
    height: 3vw;
    margin: 20px 5px 20px 10px;
    max-height: 3vw;
    max-width: 100%;
    width: 100%;
}

    #atmMenuBtnRight:active {
        border: 3px solid grey;
        box-shadow: inset 0 0 1px 0px rgba(0, 0, 0, 0.8);
    }

#atmBankLogo {
    height: 2vw;
    margin: .5vw;
    max-height: 2vw;
    width: 4vw;
}

#atmActionLogo {
    height: 2vw;
    margin: .5vw;
    max-height: 2vw;
    width: auto;
}

#atmSystemInfo {
    font-size: .5vw;
}

/* clothingSpawner */

#clothingSpawnerCtn {
    background-image: url('/images/backgroundServerTeam.png');
    left: 0;
    position: fixed;
    top: 0;
    width: 33vw;
}

#clothingSpawnerSliderCtn {
    bottom: 0;
    margin: auto;
    position: fixed;
    width: 100%;
}

#creatorRotSlider {
    width: 100%;
}

#clothingSpawnerBtnGrp {
    height: auto;
    width: 100%;
}

/* jobCenter */

#jobcenterCtn {
    background-image: url('/images/backgroundJobcenter.png');
    font-size: 1vw;
}

#jobcenterActivateBtn {
    background-color: rgba(0, 155, 0, .5);
}

#jobcenterDeactivateBtn {
    background-color: rgba(0, 0, 155, .5);
}

/* clothingShop */

#clothingShopCtn {
    background-image: url('/images/backgroundShop.png');
    border-radius: 0;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    color: silver;
    font-size: 1vw;
    left: 0;
    position: fixed;
    width: 20vw;
}

    #clothingShopCtn button {
        background-image: linear-gradient(to top, royalblue, black);
        border: 2px solid silver;
        border-radius: 10px;
        color: silver;
    }

    #clothingShopCtn h2 {
        color: wheat;
        font-family: pricedown;
    }

/* vehicleTrunk */

#vehTrunkCtn {
    background-image: url('/images/backgroundMoney.png');
}

    #vehTrunkCtn label {
        color: silver;
        text-shadow: 1px 1px 1px black;
    }

/* smartPhone */

#smartPhoneBackCtn {
    height: 466px;
    width: 234px;
    position: fixed;
    bottom: 37px;
    right: 251px;
    background-image: url('/images/smartphone/smartphone_background11.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#smartPhoneFrontCtn {
    height: 500px;
    width: 240px;
    position: fixed;
    bottom: 20px;
    right: 247px;
    background-image: url('/images/smartphone/android-front.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#smartPhoneMainCtn {
    height: 466px;
    width: 200px;
    position: fixed;
    bottom: 37px;
    right: 266px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

    #smartPhoneMainCtn .top-row {
        position: absolute;
        top: 4px;
        left: 14px;
        margin: auto;
        background-color: rgba(0, 0, 0, .6);
        padding: 1px 20px 2px 20px;
        border-radius: 5px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

        #smartPhoneMainCtn .top-row p {
            margin: 0;
        }

    #smartPhoneMainCtn .footer {
        position: absolute;
        bottom: 10px;
        left: 10px;
        margin: auto;
        background-color: rgba(0, 0, 0, .5);
        border-radius: 100vw;
    }

    #smartPhoneMainCtn img {
        width: 100%;
        height: auto;
    }

#smartphoneHomeBtn {
    width: 100%;
    height: 25px;
}

/* hairCutShop */

#hairCutShopCtn {
    position: fixed;
    width: 20vw;
    top: -5vh;
    left: 0;
    border-radius: 0 50px 50px 0;
}

#hairCutShopList {
    height: 28vh;
    max-height: 28vh;
}

#hairCutShopCart {
    height: 18vh;
    max-height: 18vh;
}

/* dumpster */

#dumpsterCtn {
    background-image: url('/images/backgroundDumpster.png');
}

/* fuelStation */

#fuelStationCtn {
    background-image: url('/images/backgorundRiffelblech.png');
    background-color: rgba(0,0,0,.75);
}

#fuelStationHeadlineRow, #fuelStationFooterRow {
    padding: 1rem;
    margin: .1rem;
    background-color: rgba(0,0,0,.75);
    border: 4px solid grey;
}

#fuelStationHeadlineRow {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#fuelStationFooterRow {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}


#electroPump, #benzinPump, #dieselPump {
    border: 5px solid grey;
    background-color: rgba(0,0,0,.75);
}

#fuelStationHeader {
    margin-top: .5rem;
    background-image: linear-gradient(to top, rgba(150, 80, 20, .25), rgba(0,0,0,.25));
}

#fuelPumpFooter {
    margin-bottom: 1rem;
    background-image: linear-gradient(to bottom, rgba(150, 80, 20, .25), rgba(0,0,0,.25));
}

#pumpStart, #pumpStop, #payFuel {
    background-image: url('/images/backgroundMetall.jpg');
}

#pumpStart {
    border: 2px solid darkgreen;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#pumpStop {
    border: 2px solid darkred;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#payFuel{
    border: 4px solid grey;
    border-radius: 10px;
}
