@import url('/css/global.css');

body, html {
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 1);
    background-image: url(/images/backgroundError.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-image: linear-gradient(to top, rgba(255, 0, 0, .5), rgba(0, 0, 0, .5));
    border-radius: 25px;
}

h1 {
    color: royalblue;
    font-family: pricedown;
    font-size: 3vw;
    margin-bottom: 3vh;
    text-shadow: .3vw .3vw .3vw black;
}

h3 {
    color: orange;
    font-size: 2vw;
    text-shadow: .2vw .2vw .2vw black;
}

h4 {
    color: silver;
    font-family: Impact;
    font-size: 1.5vw;
    text-shadow: .15vw .15vw .15vw black;
}

.row { margin: 2.5% auto 2.5% auto; }

#headline {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, .6), rgba(0, 0, 0, .6));
    border: 2px solid white;
    border-radius: 1000px;
    margin: auto auto 2.5% auto;
    padding: 10px;
}

#headlineText {
    color: royalblue;
    font-family: pricedown;
}

#banInfo {
    border-bottom: 1px dashed white;
    border-top: 1px dashed white;
    padding: 20px;
}

#silver { color: silver; }

#black {
    color: black;
    text-shadow: 1px 1px grey;
}

img {
    height: auto;
    width: 25vw;
}