@import url('/lib/bootstrap/css/bootstrap.min.css');
@import url('/lib/font-awesome/css/all.css');
@import url('/lib/animate/animate.min.css');

@font-face {
    font-family: 'pricedown';
    src: url('../font/pricedownbl.ttf') format('truetype');
}

@font-face {
    font-family: 'ring3d';
    src: url('../font/progbot.ttf') format('truetype');
}

html, body {
    -moz-user-select: None;
    -ms-user-select: None;
    -webkit-user-select: None;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
    color: rgb(223, 176, 61);
}

h1 {
    font-family: pricedown;
    font-size: 2.25vw;
    text-shadow: .225vw .225vw .225vw black;
}

h2 {
    font-size: 2vw;
    text-shadow: .2vw .2vw .2vw black;
}

h3 {
    font-size: 1.75vw;
    text-shadow: .175vw .175vw .175vw black;
}

h4 {
    font-size: 1.5vw;
    text-shadow: .15vw .15vw .15vw black;
}

h5 {
    color: silver;
    font-size: 1.25vw;
    text-shadow: .125vw .15vw .15vw black;
}

.container {
    width: 60vw;
    height: auto;
    margin-top: 15vh;
    padding: 2vw;
    background-color: rgba(150, 80, 20, .15);
    border: 4px solid silver;
    border-radius: 15px;
    background-image: url('/images/backgroundDefault.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    width: 100%;
    height: 30vh;
    max-height: 30vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(0, 0, 0, .5);
    border: 2px solid silver;
    border-radius: 5px;
}

li {
    height: 5vh;
    min-height: 5vh;
    max-height: 5vh;
    width: 100%;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.75);
    margin: 2px 0 2px 0;
}

    li img {
        height: 5vh;
        min-height: 5vh;
        max-height: 5vh;
        width: auto;
        margin: auto;
    }

    li i {
        color: rgb(223, 176, 61);
        text-shadow: 1px 1px 1px black;
    }

label {
    text-shadow: 1px 1px 1px black;
}

#cuttable {
    max-width: 175px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

    #cuttable::-webkit-scrollbar {
        height: 8px;
    }

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(125, 125, 125, 0.25);
    border-radius: 100px;
    margin: 15px;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border: 1px solid silver;
    border-radius: 100px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

app {
    display: flex;
    flex-direction: column;
    position: relative;
}

.main {
    flex: 1;
}

.content {
    padding-top: 1.1rem;
}

input, img, button, .btn-group {
    width: 100%;
    height: auto;
    margin: auto;
}

    button i, .btn-group i {
        color: black;
        text-shadow: 1px 1px 1px grey;
    }

#silverBtn {
    width: 100%;
    height: auto;
    color: black;
    border: 2px solid silver;
    border-radius: 5px;
    background-image: url('/images/backgroundMetall.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#closeWndBtn {
    width: 100%;
    height: auto;
    color: darkred;
    border: 2px solid darkred;
    border-radius: 5px;
    background-image: url('/images/backgroundDefault.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#listHeadLine {
    background-color: rgba(128, 128, 128, .2);
    color: white;
}

#listBackLine {
    background-color: rgba(255, 0, 0, .2);
    color: white;
}
